{% extends "account/base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}

<!-- Gavin commented out this block>
<a href="#" onClick="postToFacebook()">Post to Facebook</a>
<script>
	function postToFacebook() {
        var body = 'Reading Connect JS documentation';
		var msg = 'My message is ...' + Math.random().toString();
        FB.api('/me/feed', 'post', { body: body, message: msg}, function(response) {
          if (!response || response.error) {
            alert('No response');
          } else if (response.error) {
			alert('Response error');
          } else {
            alert('Your message has been successfully posted to Facebook!' + msg);
          }
        });
    }
<end Gavin's commenting out -->
	
</script>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '411609345605022',                        // App ID from the app dashboard
      channelUrl : '//localhost:8000/channel.html', // Channel file for x-domain comms
      cookie     : true,
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=411609345605022";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>



<h1>Profile</h1>

<p>Please complete your profile below.</p>
<div class="header-main">
{% include 'accounts/signup_splash.html' %}
</div>

<!-- Facebook Like button -->
	<!-- Gavin commented out this block>
<div class="fb-like" data-href="http://watttime.herokuapp.com/" data-send="true" data-width="450" data-show-faces="true"></div>
	<end Gavin's commenting out -->
<!-- Facebook Share button -->
	<!-- Gavin commented out this block>
<a href="https://www.facebook.com/sharer/sharer.php?u=watttime.herokuapp.com" target="_blank">
  Share on Facebook
</a>
	<end Gavin's commenting out -->


{% endblock %}

