{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Invitation" %}{% endblock %}
{% block content %}

<div class="invitation invitation-invite">
	<h1>{% trans "Invite a friend" %}</h1>
	{% ifequal remaining_invitations 0 %}
	<p>{% trans "You currently have no invitations to send." %}</p>
	{% else %}
	{% blocktrans with remaining_invitations as qty %}
	<p>You have <b>{{qty}}</b> invitations remaining!</p>
	<p>Enter your friend's information below to send an invitation:</p>
	{% endblocktrans %}
	<form action="{% url 'invitation_invite' %}" method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<b>Email Preview:</b>
		<p>{{email_preview}}</p>
		<button class="btn btn-primary" type="submit">{% trans "Send Invitation " %}&raquo;</button>
	</form>
	{% endifequal %}
</div>
<script>
document.getElementById('id_sender_note').addEventListener('change', onChange, false);
function onChange(e){
	console.warn(e);
	console.warn(e.target);
	text = e.target.value;
	console.warn(e.target.value);
	document.getElementById('sender_note').innerHTML = text;
}
</script>
{% endblock %}