{% load i18n %}
{% load static from staticfiles %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">

<body>
	<table>
		<tr>
			<td border=0 class="body" width="auto" style="border:none; min-width: 150px; max-width: 400px; padding: 20px 20px 20px 20px;
			background: White; border-radius: 6px;">
				{% if sender_note %}{% blocktrans with sender_note as sender_note %}
				<pre id="sender_note" style="border: none; padding:0; margin:0; font-family:Helvetica, Arial, sans-serif; background:inherit; color:inherit; font-size:16px; font-weight:inherit;">{{sender_note}}</pre><br>
				{% endblocktrans %}
				{% endif %}
				{% blocktrans with site.name as sitename and from_user.username|capfirst as from_user %}
				<div>Congratulations! You have been invited by {{ from_user }} to join
				{% endblocktrans %}
					<a class="brand" href="{{root_url}}">{{site.name}}</a>
				</div><br>
				<div>
					{% trans "Membership is by invitation only, so click the link below to join us now!" %}<br><br>
					<a class="brand" href="{{invitation_url}}">Get started with {{site.name}}!</a>
				</div><br>
				<div>			
					{% trans "All the best" %},<br>
					<span>{% trans "The" %} {{site.name}} {% trans "team" %}</span>
				</div>
			</td>
		</tr>
	</table>
</body>






