{% extends "base.html" %}
{% block title %}WattTime: Log in{% endblock %}

{% block content %}

<div class="page-header">
<h2>Sign up/Log in</h2>
</br>
</div>

<div class="row">
    <div class="col-md-6">  
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Log in to your existing WattTime account.
                </h3>
            </div>
            <div class="panel-body">
                {% include "accounts/login_form_snippet.html" with form=login_form %}
            </div>
            <div class="panel-footer">
                <p>Forget your password? Just enter your email, leave the password blank,
                and click Login to receive an account recovery email.
                </p>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Don't have an account yet? You can sign up right here.
                </h3>
            </div>
            <div class="panel-body">
                {% include "accounts/signup_form_snippet.html" with form=signup_form %}
            </div>
        </div>
    </div>
</div> 
<div class="panel panel-default">
    <div class="panel-footer">
        Questions about WattTime accounts? Try the <a href="{% url 'faq' %}#accounts" >FAQ</a>.
    </div>
</div>
{% endblock %}

<!-- The following is used for Facebook Connect and was removed by Gavin on Sunday
{ % load socialaccount % }
<a href="{ % provider_login_url "facebook" method="oauth2" % }">Facebook OAuth2</a>
end-->
