{% extends "base.html" %}
{% block title %}WattTime: Log in{% endblock %}

{% block content %}

<h2>Welcome!</h2>
</br></br>
<div class="span5 alert alert-block alert-success">
    <p class="lead text-success">
        Log in to your existing WattTime account:
    </p>

    {% include "accounts/login_form_snippet.html" with form=login_form %}

    <p class="text-success"><small>
        Forget your password? Just enter your email, leave the password blank,
        and click Login to receive an account recovery email.
    </small></p>
</div>

<div class="span5 alert alert-block alert-info">
    <p class="lead text-info">
        Don't have an account yet? You can sign up right here:
    </p>
    
    {% include "accounts/signup_form_snippet.html" with form=signup_form %}
</div>

{% endblock %}

<!-- The following is used for Facebook Connect and was removed by Gavin on Sunday
{ % load socialaccount % }
<a href="{ % provider_login_url "facebook" method="oauth2" % }">Facebook OAuth2</a>
end-->
