{% extends "base.html" %}
{% block title %}WattTime: Log in{% endblock %}

{% block content %}

<div>
<h1>Sign In - Sign Up</h1>
</br>
</div>


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">  
        <div class="panel panel-default">
            <div class="panel-body">
        
                <div class="tabbable"> 
        	
                    <ul class="nav nav-tabs">  	
                        <li><a href="#tab1" data-toggle="tab">Sign in</a></li>
                        <li class="active"><a href="#tab2" data-toggle="tab">Sign up</a></li>
                    </ul>
        
                    <div class="tab-content">
        
                        <div class="tab-pane" id="tab1">
                            <div class="col-md-12">
                                <h3>
                                    Log in to your existing WattTime account.
                                </h3>
                            </div>
                            <div class="col-md-12">
                                {% include "accounts/login_form_snippet.html" with form=login_form %}
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <p>
                                    Forget your password? <a href="{% url 'password_reset' %}">Reset it here.</a>
                                </p>
                            </div>
                        </div>
        
                        <div class="tab-pane active" id="tab2">
                            <div class="col-md-12">
                                <h3>
                                    Be the first to hear what we're up to.
                                </h3>
                            </div>
                            <div class="col-md-12">
                                {% include "accounts/mailchimp_signup_snippet.html" %}
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <p>
                                    Interested in beta access to WattTime Alerts and tools to track your impact?
                                    <a href="{% url 'contact' %}">Let us know!</a>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>        
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}

<!-- The following is used for Facebook Connect and was removed by Gavin on Sunday
{ % load socialaccount % }
<a href="{ % provider_login_url "facebook" method="oauth2" % }">Facebook OAuth2</a>
end-->
