{% extends "base.html" %}
{% block title %}WattTime{% endblock %}

{% block content %}

<div>
<h1>Sign In</h1>
</br>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title text-primary">
            Welcome Back!
        </h3>
    </div>
    <div class="panel-body">
        {% include "accounts/login_form_snippet.html" with form=form %}
    </div>
    <div class="panel-footer">
        Don't have an account yet? <a href="{% url 'create_user' %}">Sign up here.</a><br>
        Questions about WattTime accounts? Try the <a href="{% url 'faq' %}#accounts" >FAQ</a>.
    </div>
</div>



{% endblock %}

<!-- The following is used for Facebook Connect and was removed by Gavin on Sunday
{ % load socialaccount % }
<a href="{ % provider_login_url "facebook" method="oauth2" % }">Facebook OAuth2</a>
end-->
