{% extends "base.html" %}
{% block title %}WattTime{% endblock %}

{% block content %}

<h2>Welcome Back!</h2>
</br></br>
<div class="alert alert-block alert-success"><p class="lead text-success">Enter your email address and password below to login into your existing WattTime account.</p>

<form action="{% url 'user_login' %}" method="post" class="form-inline">{% csrf_token %}
    <p class="fieldWrapper">
        {{ form.email.errors }}
        {{ form.email }}

        {{ form.password.errors }}
        {{ form.password }}
   <input type="submit" class="btn btn-awesome" name="login" value="Login" /></p>
</form>
</div>

<p class="lead text-info alert alert-block alert-info">Don't have an account yet? You'll need an invitation email. </br>You're in luck! You can actually invite yourself on the <a href="{% url 'home' %}">main page</a>.</p>

{% endblock %}

<!-- The following is used for Facebook Connect and was removed by Gavin on Sunday
{ % load socialaccount % }
<a href="{ % provider_login_url "facebook" method="oauth2" % }">Facebook OAuth2</a>
end-->
