{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}WattTime{% endblock %}

{% block content %}

<div>
<h2>Reset your password</h2>
</br>
</div>


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">  
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>
                    It's ok, forgetting passwords happens to the best of us. Enter your email here and we'll send you
                    a link that will let you reset your password.
                </h4>
                <form action="{% url 'password_reset' %}" method="post" >
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary" value="Go">Go</button>
                </form>
            </div>
            <div class="panel-footer">
                <p>Want to change your password instead? You can do that <a href="{% url 'password_change' %}">here</a>.</p>
                <p>Questions? <a href="{% url 'contact' %}">Contact us</a>, we're happy to help.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>


{% endblock %}

