{% extends "base.html" %}
{% block title %}WattTime Alpha{% endblock %}

{% block content %}


<h2>Welcome to WattTime!</h2>
<p style="color:#ffff33">WattTime works by sending occasional sms updates about the status of your electricity source directly to your phone. </p><h4>To begin, please enter your phone number. <br>You will receive a sms message with a 6 digit code to verify your device and enrollment. <br>You can stop the service at any time.</h4>
<!-- CAUTION: Must include in the action "phone_setup", or it will call the "profile_create" instead!!!!-->
<form action="{% url 'phone_setup' userid %}" method="post" class="watttime-form sign-up-form" style="margin-bottom:0px!important;">
	{% csrf_token %}
    <p class="fieldWrapper">
        {{ form.phone.errors }}
        {{ form.phone }}
    
    <input type="submit" name="phone_setup" value="I'm In!   " /></p>
</form>
<h4>We will not share your phone number with any third parties.<a href = "{% url 'faq' %}" ><strong> Learn more.</strong></a></h4>


{% endblock %}
