{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}WattTime{% endblock %}

{% block content %}

<div>
<h1>Verify Your Phone</h1>
</br>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Check your phone, we just said hi.
        </h3>
        <p>
            You should have just received a 6-digit verification code as a text message to
            {{ phone_number }}. Please enter it below to complete the sign-up process.
        </p>
    </div>
    <div class="panel-body">
        <form action="{% url 'phone_verify_view' %}" class="form-horizontal-inline" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" value="Go">Go</button>
        </form>
    </div>
    <div class="panel-footer">
        Questions about WattTime accounts? Try the <a href="{% url 'faq' %}#accounts" >FAQ</a>.
    </div>
</div>


{% endblock %}
