{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}WattTime{% endblock %}

{% block content %}

<div>
<h1>Verification Error</h1>
</br>
</div>

<div class="panel panel-default">
   
    <div class="panel-body">
<p>The verification code you entered does not seem to match! If you made a mistake, you can re-renter the code below. To resend the verification code to <span class="badge">{{ phone_number }}</badge>, reload this page. To change your phone number, return to <a href="{% url 'profile_settings' %}" class="btn btn-xs btn-info">your profile</a>.</p>

<form action="{% url 'phone_verify_view' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" value="Go">Go</button>
</form>
    </div>
   
</div>



{% endblock %}
