{% extends "base.html" %}
{% block title %}WattTime Alpha{% endblock %}

{% block content %}

<h2>Verify your phone number</h2>
<p>The verification code was incorrect, enter the correct 6 digit code below or reload this page to resend the verification code to your phone, {{ phone_number }}.</p>
<p>To change your number, return to <a href="{% url 'profile_view' %}">your profile</a>.</p>

<form action="{% url 'phone_verify_view' %}" method="post" class="watttime-form sign-up-form" style="margin-bottom:0px!important;">
        {% csrf_token %}
        <p class="fieldWrapper">
        {{ form.verification_code.errors }}
        {{ form.verification_code }}
        <!-- <input type="int" name="code"> -->
       <input type="submit" name="phone_verify" value="Verify   " /></p>
</form>

{% endblock %}
