{% extends "base.html" %}
{% block title %}WattTime{% endblock %}

{% block content %}

<h2>Verification Error</h2>
</br></br>
<div class="alert alert-block alert-error"><p class="lead text-alert">The verification code you entered does not seem to match! <p class="text-info">If you made a mistake, you can re-renter the code below. To resend the verification code to {{ phone_number }}, reload this page.</p>
<p class="text-info">To change your phone number, return to <a href="{% url 'profile_settings' %}">your profile</a>.</p>

<form action="{% url 'phone_verify_view' %}" method="post">
        {% csrf_token %}
        <p class="fieldWrapper">
        {{ form.verification_code.errors }}
        {{ form.verification_code }}
        <!-- <input type="int" name="code"> -->
       <input type="submit" name="phone_verify" class="btn btn-awesome" value="Verify" /></p>
</form>

{% endblock %}
