{% extends "base.html" %}
{% block title %}WattTime{% endblock %}

{% block content %}

<div>
<h1>Already Verified</h1>
</br>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            You're all set!
        </h3>
    </div>
    <div class="panel-body">
        The phone number <span class="badge">{{ phone_number }}</span> has been confirmed by WattTime as belonging to you. You can return to your <a href="{% url 'profile_settings' %}" class="btn btn-xs btn-info">profile page</a>
        to view and edit your other settings.
        
    </div>
   
</div>

        {% include "base_snippets/footer_tools.html" %}



{% endblock %}
