{% extends "base.html" %}
{% block title %}WattTime{% endblock %}

{% block content %}

<h2>Verify Your Device</h2>
<p class="lead alert alert-block alert-success text-success">Let's confirm your phone number. You should have just received a 6-digit verification code as a text message to {{ phone_number }}. Please enter it below to complete the sign-up process.</p>

<form action="{% url 'phone_verify_view' %}" class="form-inline" method="post">
        {% csrf_token %}
        <p class="fieldWrapper">
        {{ form.verification_code.errors }}
        {{ form.verification_code }}
        <!-- <input type="int" name="code"> -->
       <input type="submit" class="btn btn-awesome" name="phone_verify" value="Verify" /></p>
</form>

<p class="alert alert-block alert-warning text-warning">You can always change phone numbers later by adjusting the settings in <a href="{% url 'profile_view' %}">your profile</a>. If you do not receive the text message within a few minutes, you can reload this page to send another message.</p>


{% endblock %}
