{% extends "base.html" %}

{% block title %}WattTime Alpha{% endblock %}

{% block content %}

<h1> Sign up for our message service! </h1>
<p> We will send you a message to set up your phone. </p>
<!-- CAUTION: Must include in the action "phone_setup", or it will call the "profile_create" instead!!!!-->
<form action="{% url 'phone_setup' userid %}" method="post" class="watttime-form sign-up-form" style="margin-bottom:0px!important;">
	{% csrf_token %}
    <p class="fieldWrapper">
        {{ form.errors }}
        <label for="id_phone">Phone:</label>
        {{ form.as_p }}
    </p>  
    <a href = "{% url 'home' %}">No thanks.</a>
    <p><input type="submit" name="phone_setup" value="Send message" /></p>
</form>

{% endblock %}
