{% extends "base.html" %}

{% block title %}WattTime{% endblock %}

{% block content %}
<h2>Personalize Your Alerts</h2><br>

<div class="row-fluid">
<div class="span6 alert alert-block alert-success">
<p class="lead text-success">Welcome {{ name }}! Here are the preferences we have for your account.</p>

<form action="{% url 'profile_edit' %}" class="form-horizontal" method="post">{% csrf_token %}
  <div class="control-group">
    <label class="control-label text-success" for="inputName">Name</label>
    <div class="controls">{{ form.name }}</div></div>
  <div class="control-group">
    <label class="control-label text-success" for="inputName">Password</label>
    <div class="controls">{{ form.password }}</div></div>           
  <div class="control-group">
    <label class="control-label text-success" for="inputName">Email</label>
    <div class="controls text-info">{{ email }}</div></div>
  <div class="control-group">
    <label class="control-label text-success" for="inputName">State</label>
    <div class="controls">{{ form.state }}</div></div>         
  <div class="control-group">
    <label class="control-label text-success" for="inputName">Mobile Phone</label>
    <div class="controls">{{ form.phone }} 
        <span class="help-block text-info">If you edit your phone number, you will have to verify the new phone number before you will be able to receive WattTime text messages.</span>
</div></div> 

<div class="control-group">
    <label class="control-label text-success" for="inputName">Message Frequency</label>
    <div class="controls text-info">{{ message_frequency }}</div></div>
<div class="control-group">
    <label class="control-label text-success" for="inputName">Morning Forecast</label>
    <div class="controls text-info">{{ morning_forecast }}</div></div>
<div class="control-group">
    <label class="control-label text-success" for="inputName">How I Use Electricity</label>
    <div class="controls text-success">{{ equipment }}</div></div>
<div class="control-group">
    <label class="control-label text-success" for="inputName">Updates about Future WattTime Features</label>
    <div class="controls text-success">{{ beta_test }}</div></div>

</div>


<div class="span6 alert alert-block alert-success">

<p class="lead text-success">Message frequency</p>
{{ form.message_frequency.errors }}
<label class="radio">{{ form.message_frequency }}</label>

<p class="lead text-success alert alert-info">Email me a morning forecast
<label class="checkbox">{{ form.forecast_email }}</label>
            {{ form.forecast_email.errors }}</p>

<p class="lead text-success">Energy-intensive equipment</p>
            {{ form.equipment.errors }}
<label class="checkbox">{{ form.equipment }}</label>
<p class="lead text-success alert alert-info">Tell me about future experimental features
<label class="checkbox">{{ form.beta_test }}</label>
			{{ form.beta_test.errors }}</p>


<input type="submit" class="btn btn-info pull-left" value="Save changes" />
</form>
</div>

{% endblock %}
