{% extends "base.html" %}

{% block title %}WattTime{% endblock %}

{% block content %}

<div class="page-header">
<h2>Profile Settings</h2>
</br>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
    <h3 class="panel-title">Welcome {{ name }}! These are your account settings.</h3>
    </div>

	<div class="panel-body">	
	
	<div class="tabbable"> 
	
  	<ul class="nav nav-tabs">
  	
  	    <li class="active"><a href="#tab1" data-toggle="tab" class="text-success">Account Status</a></li>
    
    	<li><a href="#tab2" data-toggle="tab" class="text-success">Your Info</a></li>
    
    	<li><a href="#tab3" data-toggle="tab" class="text-success">Alert Preferences</a></li>
    	
    	<li><a href="#tab4" data-toggle="tab" class="text-success">Energy Profile</a></li>
    	
    	<li><a href="#tab5" data-toggle="tab" class="text-success">WattTime News</a></li>
  	
  	</ul>
  	
  	<div class="tab-content">
  	
  	<div class="tab-pane active" id="tab1">
	<br>
	{% if deactivated %}
	<p class="text-warning">Your account is currently deactivated. You will not receive any further emails or text messages from us. However, you may <a href="{% url 'reactivate' %}" class="btn btn-xs btn-warning">reactivate</a> your account at any time.</p></div>
	{% else %}
    	{% if phone_verified %}
    	<p class="text-info">Success! You are signed up to receive WattTime SMS alerts!</p>
    	{% else %}
    		{% if phone_blank %}
    		<p class="text-info">If you provide and <a href="{% url 'phone_verify_view' %}" class="btn btn-xs btn-success">verify </a> your phone number, you will receive WattTime SMS notifications.</p>
    			{% else %}
    			<p class="text-info">Did you change your phone number? Please <a href="{% url 'phone_verify_view' %}" class="btn btn-xs btn-success">verify your number</a> to receive WattTime SMS notifications.</p>
   		{% endif %}
    {% endif %}
    {% if supported_region %}
    {% else %}
    <p class="text-info">Please note alerts are not yet available in {{ state }}. We'll let you know as soon as they are.</p>
    {% endif %}
	<p class="text-info">If you wish to stop receiving WattTime notifications, you may <a href="{% url 'deactivate' %}" class="btn btn-xs btn-warning">deactivate</a> your account at any time.</p>
	{% endif %}
	

	</div>
    
    <div class="tab-pane" id="tab2">
    <br>
<table class="table">
  

	<form action="{% url 'profile_edit' %}" class="form-horizontal" method="post">{% csrf_token %}
  	
  	<tr class="control-group active">
    <td><label class="control-label text-info" for="inputName">Name</label></td>
    <td class="controls">{{ form.name }}</td>
    <td>{{ name }}</td>
    </tr>
  	
  	<tr class="control-group active">
    <td><label class="control-label text-info" for="inputName">Password</label></td>
    <td class="controls">{{ form.password }}</td>
    <td>{{ password }}</td>
    </tr>
    
    <tr class="control-group">
    <td><label class="control-label text-info" for="inputName">Email</label></td>
    <td class="controls">{{ form.email }}</td>
    <td>{{ email }}</td>
    </tr>
    
    <tr class="control-group active">
    <td><label class="control-label text-info" for="inputName">State</label></td>
    <td class="controls">{{ form.state }}</td>
    <td>{{ state }}</td>
    </tr>
    
    <tr class="control-group active">
    <td><label class="control-label text-info" for="inputName">Mobile Phone</label></td>
    <td class="controls">{{ form.phone }}</td>
    <td>{{ phone }}</td>
    </tr>
    
    
    </table><input type="submit" class="btn btn-info pull-right" value="Save changes" />
    </div>
    
    <div class="tab-pane" id="tab3">
    <br>
{% if region == "California" %}

<p class="text-success">Message Timing and Type</p>
{{ form.message_frequency.errors }}
<div class="profile-edit text-info">{{ form.message_frequency }}</div>

<p class="text-success"><label class="checkbox inline">{{ form.forecast_email }}I want to receive the WattTime daily forecast each morning via email.{{ form.forecast_email.errors }}</label></p>

{% endif %}

{% if region == "NewEngland" %}

<p class="text-info">Message Timing and Type</p>
{{ form.message_frequency.errors }}
<div class="profile-edit">{{ form.message_frequency }}</div>

{% endif %}
<input type="submit" class="btn btn-info pull-right" value="Save changes" />
</div>
    
<div class="tab-pane" id="tab4">
<br>
<p class="text-success">Appliances and Energy-Intensive Practices</p>
{{ form.equipment.errors }}
<div class="profile-edit text-info">{{ form.equipment }}</div>
<input type="submit" class="btn btn-info pull-right" value="Save changes" />

</div>
    
    <div class="tab-pane" id="tab5">
<br>
<p class="text-success"><label class="checkbox inline">{{ form.beta_test }}Please add me to the mailing list to receive updates about new features and regions.{{ form.beta_test.errors }}</label></p>
<p class="text-success"><label class="checkbox inline">{{ form.ask_feedback }}I would like to help WattTime improve its service by participating in an occasional survey.{{ form.ask_feedback.errors }}</label></p>
<br>

<input type="submit" class="btn btn-info pull-right" value="Save changes" />


    </div>
  
  	</div>
	</div>
	
	

</form>
    
  	
<!--
<div class="control-group">
    <label class="control-label text-success" for="inputName">Message Frequency</label>
    <div class="controls text-info">{{ message_frequency }}</div></div>
<div class="control-group">
    <label class="control-label text-success" for="inputName">Morning Forecast</label>
    <div class="controls text-info">{{ morning_forecast }}</div></div>
<div class="control-group">
    <label class="control-label text-success" for="inputName">How I Use Electricity</label>
    <div class="controls text-success">{{ equipment }}</div></div>
<div class="control-group">
    <label class="control-label text-success" for="inputName">Updates about Future WattTime Features</label>
    <div class="controls text-success">{{ beta_test }}</div></div>
-->


<!-- Wrapping <label></label> around multiple radio buttons breaks the interface in Firefox -->




</div>

 <div class="panel-footer text-center">
        Find the best time to use electricity and <a href="{% url 'shift' %}">track your impact with WattTime Shift</a>, or to receive notifications when your actions have the biggest impact, sign up for <a href="{% url 'alerts_home' %}">WattTime Alerts</a>.
        
        </div>

</div>
{% endblock %}
