{% extends "base.html" %}

{% block title %}WattTime{% endblock %}

{% block content %}
<h2>Settings</h2>
<div class="container-fluid">
<div class="row-fluid">


{% if deactivated %}
<p class="lead alert alert-block text-warning">Your account is currently deactivated.</p><p class="alert-info alert-block text-info">You will not receive any further emails or text messages from us. However, you may <a href="{% url 'reactivate' %}" class="btn btn-success">reactivate</a> your account at any time.</p>
{% else %}
<div class="span4">
    {% if phone_verified %}
    <p class="lead text-success alert alert-block alert-success">Success! You are signed up to receive WattTime SMS alerts!</p>
    {% else %}
        {% if phone_blank %}
        <p class="lead alert alert-block text-warning">If you provide and <a href="{% url 'phone_verify_view' %}" class="btn btn-success">verify </a> your phone number, you will receive WattTime SMS notifications.</p>
        {% else %}
        <p class="lead alert alert-block text-info">Did you change your phone number? Please <a href="{% url 'phone_verify_view' %}" class="btn btn-success">verify your number</a> to receive WattTime SMS notifications.</p>
        {% endif %}
    {% endif %}
    {% if supported_region %}
    {% else %}
    <p class="lead alert alert-block text-warning">Please note alerts are not yet available in {{ long_state }}. We'll let you know as soon as they are.</p>
    {% endif %}
<p class="lead text-warning alert alert-block">If you wish to stop receiving WattTime notifications, you may <a href="{% url 'deactivate' %}" class="btn btn-warning">deactivate</a> your account at any time.</p>
</div>

<div class="span8">

  <p class="lead text-info alert-info alert-block"><a href="{% url 'profile_edit' %}" class="btn btn-info">Personalize</a> your account settings for more timely and relevant notifications. Your current settings:</p>

<dl class="dl-horizontal text-info alert-info alert-block">
  <dt>Name</dt>
    <dd>{{ name }}</dd>
  <dt>Email</dt>
    <dd>{{ email }}</dd>
  <dt>State</dt>
    <dd>{{ long_state }}</dd>
  <dt>Telephone</dt>
    <dd>{{ phone_number }}</dd>
  {% if region == "California" %}
    <dt>Message Type</dt>
      <dd>{{ message_frequency }}</dd>
    <dt>Morning Forecast</dt>
      <dd>{{ forecast_email }}</dd>
  {% endif %}
  {% if region == "NewEngland" %}
    <dt>Message Type</dt>
      <dd>{{ message_frequency }}</dd>
  {% endif %}
  <dt>Home Appliances</dt>
    <dd>{{ equipment }}</dd>
  <dt>Mailing List</dt>
    <dd>{{ beta_test }}</dd>
  <dt>Willing to Provide <br>Survey Feedback?</dt>
    <dd><br>{{ ask_feedback }}</dd>
</dl>

</div>

{% endif %}</div>
</div>
{% endblock %}
