{% extends "base.html" %}

{% block title %}WattTime{% endblock %}

{% block content %}
<h2>Personalize Your Alerts</h2><br>

<div class="row-fluid">
<div class="span6 alert alert-block alert-success">
<p class="lead text-success">Welcome {{ name }}!<br> These are your account settings.</p>

<form action="{% url 'profile_edit' %}" class="form-horizontal" method="post">{% csrf_token %}
  <div class="control-group">
    <label class="control-label text-success" for="inputName">Name</label>
    <div class="controls">{{ form.name }}</div></div>
  <div class="control-group">
    <label class="control-label text-success" for="inputName">Password</label>
    <div class="controls">{{ form.password }}</div></div>           
  <div class="control-group">
    <label class="control-label text-success" for="inputName">Email</label>
    <div class="controls text-info">{{ email }}</div></div>
  <div class="control-group">
    <label class="control-label text-success" for="inputName">State</label>
    <div class="controls">{{ form.state }}</div></div>         
  <div class="control-group">
    <label class="control-label text-success" for="inputName">Mobile Phone</label>
    <div class="controls">{{ form.phone }} 
 </div></div> 

<!--
<div class="control-group">
    <label class="control-label text-success" for="inputName">Message Frequency</label>
    <div class="controls text-info">{{ message_frequency }}</div></div>
<div class="control-group">
    <label class="control-label text-success" for="inputName">Morning Forecast</label>
    <div class="controls text-info">{{ morning_forecast }}</div></div>
<div class="control-group">
    <label class="control-label text-success" for="inputName">How I Use Electricity</label>
    <div class="controls text-success">{{ equipment }}</div></div>
<div class="control-group">
    <label class="control-label text-success" for="inputName">Updates about Future WattTime Features</label>
    <div class="controls text-success">{{ beta_test }}</div></div>
-->
</div>


<!-- Wrapping <label></label> around multiple radio buttons breaks the interface in Firefox -->

<div class="span6 alert alert-block alert-success">

{% if region == "California" %}

<p class="lead text-success">Message Timing and Type</p>
{{ form.message_frequency.errors }}
<div class="profile-edit">{{ form.message_frequency }}</div>

<p class="text-success alert alert-info"><label class="checkbox inline">{{ form.forecast_email }}I want to receive the WattTime daily forecast each morning via email.{{ form.forecast_email.errors }}</label></p>

{% endif %}

{% if region == "NewEngland" %}

<p class="lead text-success">Message Timing and Type</p>
{{ form.message_frequency.errors }}
<div class="profile-edit">{{ form.message_frequency }}</div>

{% endif %}

<p class="lead text-success">Appliances and Energy-Intensive Practices</p>
{{ form.equipment.errors }}
<div class="profile-edit">{{ form.equipment }}</div>

<p class="text-success alert alert-info"><label class="checkbox inline">{{ form.beta_test }}Please add me to the mailing list to receive updates about new features and regions.{{ form.beta_test.errors }}</label></p>

<p class="text-success alert alert-info"><label class="checkbox inline">{{ form.ask_feedback }}I would like to help WattTime improve its service by participating in an occasional survey.{{ form.ask_feedback.errors }}</label></p>

<input type="submit" class="btn btn-info pull-left" value="Save changes" />


</div>
</form>
</div>
{% endblock %}
