{% extends "base.html" %}

{% block title %}WattTime: Get started{% endblock %}

{% block content %}
<h2>Get started</h2><br>

<p class="lead alert alert-info text-info">
    Thanks for signing up for WattTime! You can get started with our clean energy tools today.
    <a href="{% url 'status' %}">Status</a>
    <a href="{% url 'shift' %}">Shift</a>
    <a href="{% url 'alerts_home' %}">Alerts</a>
</p>


{% if region_supported %}
<div class="alert alert-success">
<p class="lead alert alert-info text-info">
    Sign up for SMS alerts
</p>
<form action="{% url 'profile_first_edit' %}" method="post">{% csrf_token %}
     <div class="control-group">
       <div class="controls">
		{{ form.phone }}<span class="help-inline text-warning">area code + seven-digit number</span>
	<span class="help-inline">{{ form.phone.errors }}</span>
    </div>
    <input type="submit" class="btn btn-info" value="Submit" />
</form>
<p class="alert alert-warning text-warning">
    <span class="badge badge-warning"><i class="icon-hand-right icon-white"></i></span>
    WattTime alert frequency varies, but you can adjust how often you receive them in your
    settings. Please keep in mind that your mobile service provider may charge you for receiving
    and sending text messages.
</p>
</div>
{% endif %}


{% endblock %}
