{% extends "base.html" %}

{% block title %}WattTime{% endblock %}

{% block content %}
<h2>Welcome to WattTime!</h2><br>

<p class="lead alert alert-info text-info">Welcome {{ name }}! Please design a password to create your profile. When you add a mobile phone number, you'll get a message to verify your device. Once you complete the verification step on the next page, you'll be signed up to receive SMS alerts.</p><p class="alert alert-warning text-warning"><span class="badge badge-warning"><i class="icon-hand-right icon-white"></i></span> WattTime alert frequency varies, but you can adjust how often you receive them in your settings. Please keep in mind that your mobile service provider may charge you for receiving and sending text messages</p>

<br>
<div class="alert alert-success">
<form action="{% url 'profile_first_edit' %}" method="post">{% csrf_token %}
     <div class="control-group">
       <div class="controls">
		{{ form.phone }}<span class="help-inline text-warning">area code + seven-digit number</span>
	<span class="help-inline">{{ form.phone.errors }}</span>
     </div>
       <div class="controls">
     {{ form.password }}<span class="help-inline text-warning">choose a good one</span>     
     <span class="help-inline">{{ form.password.errors }}</span>
     </div>
        <div class="controls">
     {{ form.state }}<span class="help-inline text-warning">select your state</span>       
     <span class="help-inline">{{ form.state.errors }}</span>
     </div>
    <input type="submit" class="btn btn-info" value="Next" />
    </div>
    </div>
</form>
</div>
{% endblock %}
