{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}WattTime: Get started{% endblock %}

{% block content %}
<div>
<h2>Get Started</h2>
</br>
</div>


<div class="panel panel-default">
	<div class="panel-heading">
    <h3 class="panel-title">Thanks for signing up for WattTime! You can get started with our clean energy tools today.</h3>
    </div>

	<div class="panel-body">	
	
        {% if region_supported %}
	<div class="col-md-12">
          <div class="well">
                    Sign up for SMS alerts
        
                <form action="{% url 'profile_first_edit' %}" method="post">{% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary" value="Go">Go</button>
                </form>
                <p class="alert alert-warning text-warning">
                    <i class="glyphicon glyphicon-hand-right"></i>
                    WattTime alert frequency varies, but you can adjust how often you receive them in your
                    settings. Please keep in mind that your mobile service provider may charge you for receiving
                    and sending text messages.
                </p>
                        
            </div>
        </div>
        {% endif %}
        {% if region_forecasted %}
	<div class="col-md-12">
          <div class="well">
                Take action today with <a href="{% url 'shift' %}">WattTime Shift</a>
            </div>
        </div>
	<div class="col-md-12">
          <div class="well">
                Receive the <a href="{% url 'profile_settings' %}#tab3">Morning Forecast</a> in your inbox
            </div>
        </div>
        {% endif %}
	<div class="col-md-12">
          <div class="well">
                Monitor the grid with <a href="{% url 'status' %}">WattTime Explorer</a>
            </div>
        </div>
    </div>
</div>
	
{% endblock %}
