{% extends "base.html" %}

{% block title %}WattTime Beta{% endblock %}

{% block content %}
<h2>Settings</h2>

{% if deactivated %}
<p>Your account is currently deactivated, and you will not receive any further emails or text messages from us. You can <a href="{% url 'reactivate' %}">reactivate</a> your account at any time.</p>
{% else %}
    {% if phone_verified %}
    <p>Congratulations {{ name }}, you are signed up to receive WattTime SMS alerts!</p>
    {% else %}
        {% if phone_blank %}
        <p> If you provide your phone number and then <a href="{% url 'phone_verify_view' %}">verify it</a>, you will receive text messages about the electricity supply for your state with the frequency you specify.</p>
        {% else %}
        <p> Your phone number has not been verified yet. If you <a href="{% url 'phone_verify_view' %}">verify your phone number</a>, you will receive text messages about the electricity supply for your state with the frequency you specified.</p>
        {% endif %}
    {% endif %}
 
<p>You can <a href="{% url 'profile_edit' %}">personalize</a> your account settings for added control and convenience. Here are your current settings:</p>

<br>

<center>
<table class="well" style="background-color:#666;">
    <tr>
        <td>
            <h4>Name</h4>
        </td>
        <td>
            <h4>{{ name }}</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Email address</h4>
        </td>
        <td>
            <h4>{{ email }}</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>State</h4>
        </td>
        <td>
            <h4>{{ state }}</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Phone number</h4>
        </td>
        <td>
            <h4>{{ phone_number }}</h4>
        </td>
    </tr>
</table>
<table class="well" style="background-color:#666;">
    {% if region == "California" %}
    <tr>
        <td>
            <h4>Message frequency</h4>
        </td>
        <td>
            <h4>{{ message_frequency }}</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Receive a morning forecast by email?</h4>
        </td>
        <td>
            <h4>{{ forecast_email }}</h4>
        </td>
    </tr>
    {% endif %}
    {% if region == "NewEngland" %}
    <tr>
        <td>
            <h4>Message frequency</h4>
        </td>
        <td>
            <h4>{{ message_frequency }}</h4>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <h4>Equipment I have access to:</h4>
        </td>
        <td>
            <h4>{{ equipment }}</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Hear about future experimental features?</h4>
        </td>
        <td>
            <h4>{{ beta_test }}</h4>
        </td>
    </tr>
</table>
</center>

    <p> (And if you wish to stop receiving any emails or text messages from us, you may <a href="{% url 'deactivate' %}">deactivate</a> your account at any time.)</p>
{% endif %}


{% endblock %}
