{% extends "base.html" %}

{% block title %}WattTime{% endblock %}

{% block content %}

<div class="page-header">
<h2>Thanks for signing up!</h2>
</br>
</div>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="text-center">
                Welcome to WattTime!
            </h3>
            <p class="text-center">
                We are working to add new regions as soon as we can, and
                we'll let you know when WattTime tools become available for your location.
                In the meantime, poke around and see what we're up to!
            </p>
        </div>
        <div class="col-md-12">
            <div class="btn-group btn-group-justified">
                <a href="{% url 'how-it-works'%}" class="btn btn-primary btn-lg">How it works</a>
                <a href="{% url 'impact'%}" class="btn btn-primary btn-lg">Impact</a>
                <a href="{% url 'faq'%}" class="btn btn-primary btn-lg">FAQ</a>
                <a href="{% url 'about-us'%}" class="btn btn-primary btn-lg">About us</a>
                <a href="{% url 'join-us'%}" class="btn btn-primary btn-lg">Join us</a>
                <a href="{% url 'contact'%}" class="btn btn-primary btn-lg">Contact</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
