<!--<form action="/" method="post" class="watttime-form sign-up-form" style="margin-bottom:0px!important;">{% csrf_token %}
{{ form.as_p }}<input type="submit" value="YES LET'S!" />
</form>  -->

<form action="{% url 'home' %}" method="post" class="watttime-form sign-up-form" style="margin-bottom:0px!important;">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <p class="fieldWrapper">
        {{ form.name.errors }}
        {{ form.name }}
    </p>
    
    <p class="fieldWrapper">
        {{ form.email.errors }}
        {{ form.email }}
    </p>
    
    <p class="fieldWrapper">
        {{ form.phone.errors }}
        {{ form.phone }}
    </p> 
    <p class="fieldWrapper">
        {{ form.state.errors }}
        {{ form.state }}
    <input type="submit" name="sign_up" value="Join!" /></p>
</form>
