{% extends "base.html" %}
{% block title %}WattTime{% endblock %}

{% block content %}


<div class="page-header">
<h2>No Email or Password Match</h2>
</br>
</div>


<p class="lead text-error alert alert-error">Sorry, we don't seem to have a user with email {{ email }} and that password.</p>

{% endblock %}

<!-- The following is used for Facebook Connect and was removed by Gavin on Sunday
{ % load socialaccount % }
<a href="{ % provider_login_url "facebook" method="oauth2" % }">Facebook OAuth2</a>
end-->
