{% extends "base.html" %}
{% block title %}WattTime{% endblock %}

{% block content %}


<div>
<h2>No Email or Password Match</h2>
</br>
</div>


<div class="alert alert-warning"><p class="text-warning text-center">Either the email <span class="text-muted">{{ email }}</span> or the password you entered didn't match. <a href="{% url 'authenticate' %}">Back to Log In</a>.</p></div>

{% endblock %}

<!-- The following is used for Facebook Connect and was removed by Gavin on Sunday
{ % load socialaccount % }
<a href="{ % provider_login_url "facebook" method="oauth2" % }">Facebook OAuth2</a>
end-->
