<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>Page unavailable</title>
</head>
<body>
    <h1>Page unavailable</h1>

    <p>Oh noes, WattTime seems to be experiencing a server malfunction!</p>

    <p>Don't worry though, we're on the case. Please check back later.</p>

    <p>If you need to reach us immediately, you can always email us at <a href="mailto:wattTime.app@gmail.com">wattTime.app@gmail.com</a>.</p>
</body>
</html>
