{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<h2>About WattTime</h2>
</br></br>
<div class="row-fluid well" style="padding:0px 0px 0px 0px;">
    <div class="span6 offset1">
        <p class="text-info">
            WattTime was founded in 2013 by UC Berkeley economics PhD student Gavin McCormick
            with a simple vision: empower people to take control of their own energy choices,
            based on their own values, instead of leaving those choices up to energy companies.
            With a little data and some clever timing, people can now have a say in their own
            energy supply like never before.
            <!--Next stop: ways to make having that say more convenient, more powerful, and more fun. -->
        </p>
	 <p class="text-info">
            WattTime is a small but passionate team of economists, software developers,
            designers, and cleantech professionals based in the San Francisco Bay Area. Between
            us, we have experience at leading companies and institues throughout the energy sector
            (including DOE, 3TIER, and the Institute for the Future), and an impressive range of
            graduate degrees.
        </p> 
        <p class="text-info">
            If you're excited about our mission and want to help us build some truly novel
            tools to craft the clean energy economy through timing and energy choice,
            then please <a href="{% url 'contact' %}">get in touch</a>!
            We're particularly interested if you are an energy industry professional, front-end 
            or mobile developer, or mechanical engineer.
        </p>
</div>
<div class="span4">
    <p class="text-info lead">Hackathon Successes:</p>
    <p class="text-info lead">Top 3 Finalist</p><p class="text-info"><a href="http://info.cleantech.com/CleantechFacebookContest.html" target="_blank">Cleantech Goes Social Contest (CleanTech Group and Facebook)</a>
(Check out our presentation <a href="http://essinova.com/video/show/453-wattTime-Load-shifting-via-behavioral-economics" target="_blank">here</a>) </p>
    <p class="text-info lead">Best Green Button App</p><p class="text-info"><a href="http://berkeley.cleanweb.co/" target="_blank">Berkeley Cleanweb Hackathon (UC Berkeley and Cleanweb)</a></p>
	</div>
	</div>

  

{% endblock %}
