{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}

<br><br><br>

<div class="well"><h4>
WattTime was founded in 2013 by UC Berkeley economics PhD student Gavin McCormick with a simple vision: empower people to take control of their own energy choices, based on their own values, instead of leaving those choices up to energy companies. With a little data and some clever timing, people can now have a say in their own energy supply like never before. Next stop: ways to make having that say more convenient, more powerful, and more fun.
</h4><br><br>
<h4>We're still in getting plugged-in, but we're already creating buzz at Bay Area hackathons:<br><br><br>
<a href="http://info.cleantech.com/CleantechFacebookContest.html" target="_blank"><h2>Top 3 Finalist</h2><h4>Cleantech Goes Social Contest (CleanTech Group and Facebook)</a></h4>
(Check out our presentation <a href="http://essinova.com/video/show/453-wattTime-Load-shifting-via-behavioral-economics" target="_blank">here</a>)<br><br>

<a href="http://berkeley.cleanweb.co/" target="_blank"><h2>Best Green Button App</h2><h4>Berkeley Cleanweb Hackathon (UC Berkeley and Cleanweb)</a></h4>
<br><br>
<h4>
WattTime is a small but passionate team of graduate students, software developers, designers, and cleantech professionals based in the San Francisco Bay Area. Between us, we have many, many years of grad school and nine years of practical experience in the energy sector (at DOE, 3TIER, the Institute for the Future, and more). But we can always use more talent. If you want to help us build some truly novel tools to help build the clean energy economy through timing and energy choice (and particularly if you are an energy industry professional, developer, or mechanical engineer) then please do <a href="{% url 'contact' %}">get in touch</a>!
</h4></div>


{% endblock %}
