{% extends "base.html" %}

{% block title %}WattTime: About Us{% endblock %}

{% block content %}

<div class="page-header">
<h2>About Us</h2>
</br>
</div>


<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">How We Got Started</h3>
  </div>
  <div class="panel-body">
<p class="text-info">WattTime was founded in 2013 by UC Berkeley economist Gavin McCormick with a simple vision: empower people to control their own energy choices, based on their own values, instead of leaving those choices up to power companies. By combining groundbreaking new techniques in energy economics with emerging sources of real-time grid data, that vision of energy choice is becoming a reality. Now everyone can have a say in the emerging clean energy economy.</p>
</div></div>

<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Team</h3>
  </div>
  <div class="panel-body">

<div class="row">
  <div class="col-sm-6 col-md-2">
    
    <div class="thumbnail">
      <img src="..." alt="..." class="img-circle">
      <div class="caption">
        <p>Thumbnail label</p>
        <p>...</p>
      </div>
    </div>
    </div>
    
    <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="..." alt="..." class="img-circle">
      <div class="caption">
        <p>Thumbnail label</p>
        <p>...</p>
      </div>
    </div>
    </div>
    
    <div class="col-sm-6 col-md-2">
    <div class="thumbnail">
      <img src="..." alt="..." class="img-circle">
      <div class="caption">
        <p>Thumbnail label</p>
        <p>...</p>
      </div>
      </div>
    </div>
    
  
</div>
</div></div>


<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Awards</h3>
  </div>
  <div class="panel-body">
  
  <div class="well well-sm">
    <h4 class="text-info lead text-center">Grand Prize Winner<br>
        <a href="http://cleanandgreenhackathon.com/results/" target="_blank">Clean and Green Hackathon</a>
    </h4><p class="text-center">thanks to <a href="//rally.org/">Rally.org</a>, <a href="//www.barackobama.com/">Organizing for Action</a>, and <a href="//www.nanosatisfi.com/">Nanosatisfi</a></p>
    </div>
    
    <div class="well well-sm">
    <h4 class="text-info lead text-center">Best Green Button App<br>
        <a href="//berkeley.cleanweb.co/" target="_blank">Berkeley Cleanweb Hackathon</a>
    </h4>
         <p class="text-center">thanks to <a href="//berc.berkeley.edu/">BERC</a> and <a href="//cleanweb.co/">Cleanweb</a></p>
            </div>
 
    <div class="well well-sm">
    <h4 class="text-info lead text-center">
        Top 3 Finalist<br>
        <a href="//info.cleantech.com/CleantechFacebookContest.html" target="_blank">Cleantech Goes Social Contest</a></h4>
        <p class="text-center">(check out our <a href="//essinova.com/video/show/453-wattTime-Load-shifting-via-behavioral-economics" target="_blank">presentation</a>)</p>
         <p class="text-center">thanks to <a href="//www.cleantech.com/">CleanTech Group</a> and <a href="//newsroom.fb.com/sustainability.aspx">Facebook</a></p>
            </div>

</div></div>


  

{% endblock %}
