{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime: Alerts{% endblock %}

{% block content %}

<div class="full-width-features panel">
    <div class="container">
        <div class="row">
		<div class="col-md-12">
                <h1>WattTime Alerts</h1>
                <h3>
                    WattTime can let you know when your electricity is coming from renewable
                    sources.<br>Now you decide what kind of energy you want to use.<br>
                    <a href="{% url 'authenticate' %}"> Sign in and get started! </a>
                </h3>
            </div>

            <div class="col-md-12">
                <h4 class="icon-line"><span><img src="{% static "images/WattTimeShield_sm.png" %}" width="50"></span></h4>
            </div>

            <div class="col-md-3">
                <h1>Step 1</h1>
                <h3>Sign up is simple</h3>
                <p class="text-info">
                    All we need is your email address or phone number to get you started.
                </p>
            </div>

            <div class="col-md-3">
                <h1>Step 2</h2>
                <h3>Verify it's you</h3>
                <p class="text-info">
                    We make sure your contact info is verified so we can send secure alerts
                    directly to your device.
                </p>
            </div>

            <div class="col-md-3">
                <h1>Step 3</h2>
                <h3>Get more notifications</h3>
                <p class="text-info">
                    You are in control of your account. Tailor your alerts to your personal 
                    values, lifestyle, and situation, or stick with the default settings.
                </p>
            </div>

            <div class="col-md-3">
                <h1>Step 4</h2>
                <h3>Make a difference</h3>
                <p class="text-info">
                    When you receive a text or email, join others and create the clean energy
                    economy by shifting your electricity use to cleaner sources.
                </p>
            </div>
        </div>
        <div class="row alert-info">
            <div class="col-md-12">
                <h3>
                    Questions about WattTime Alerts? Try the <a href="{% url 'faq' %}" >FAQ</a>.
                </h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}
