{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime Alerts{% endblock %}

{% block content %}

<div>
<h1>WattTime Alerts</h1>
</br>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    It's your energy and your choice.
                </h3>
                <p>
                    The power sources that supply your town are changing all the time.
                    Some hours are usually cleaner than others, but there are surprises every day.
                    WattTime monitors the grid 24/7 to pick out the moments when your energy choices
                    matter most—and WattTime Alerts is how we share those moments with you.
                </p>
                <h3>
                    Want to take control of how you power your life?
                </h3>
                <p>
                    With WattTime Alerts, you'll get a email or text message when a quick and
                    easy change to your electricity use can make the biggest impact.
                </p>
                    {% if not user.is_authenticated %}
                        <p>
                            WattTime Alerts is in closed beta.
                            If you want to a sneak preview of this service,
                            <a class="btn btn-info" href="{% url 'contact' %}">
                            let us know
                            </a>!
                        <p>
                    {% else %}
                        <p><a class="btn btn-info" href="{% url 'profile_settings' %}">
                            View your profile!
                        </a></p>
                    {% endif %}
                </h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="text-score"><span class="glyphicon glyphicon-phone"></span></p>
                <h4>SMS Alerts</h4>
                <p>
                    Text messages at the best and worst times to flip the switch.
                </p>
            </div>
            <div class="col-md-6">
                <p class="text-score"><span class="glyphicon glyphicon-envelope"></span></p>
                <h4>Morning Forecast Email</h4>
                <p>
                    Wake up to fresh information about today's clean energy forecast.
                </p>
            </div>
        </div>
    </div>
</div>

{% include "base_snippets/footer_tools.html" %}

{% endblock %}
