{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}WattTime: Contact us{% endblock %}

{% block content %}
	<div>
<h1>Contact Us</h1>
</br>
</div>

	<div class="panel panel-default">
	<div class="panel-heading">
    <h3 class="panel-title">Comments? Questions? Want to partner with us? Get in touch!</h3>
  </div>
  <div class="panel-body">
		
		
			<form action="" method="post" class="">
			{% csrf_token %}

                    {% bootstrap_form form %}
    			<button type="submit" class="btn btn-primary" value="Send">Send</button>

    				
			</form>

		</div></div></div>

	
{% endblock %}
