{% extends "base.html" %}

{% block title %}Contact us!{% endblock %}

{% block content %}
	<h2>Contact Us</h2>
	<br>
	<div class="container contact-form">

		<div class="row">

			<div class="span12">

				<h3>Comments? Questions? Get in Touch!</h3>

			</div>

			<form action="" method="post" class="">
			{% csrf_token %}
			{{ form.non_field_errors }}

				<div class="span4">

					<p class="fieldWrapper">
       			   	{{ form.name.errors }}
        			<!--<label for="id_name">Name:</label>
        			-->
        			{{ form.name }}
    				</p>
				</div>	

				<div class="span4">

					<p class="fieldWrapper">
        			{{ form.email.errors }}
        			<!--<label for="id_email">Email:</label>
        			-->
        			{{ form.email }}
    				</p>
				</div>

				<div class="span4">
				
					<p class="fieldWrapper">
        			{{ form.subject.errors }}
       			 	<!--<label for="id_subject">Subject:</label>
       			 	-->
        			{{ form.subject }}
    				</p>
				</div>


				<div class="span12  comments-textarea">

				<p class="fieldWrapper">
        		{{ form.message.errors }}
       		 	<!--<label for="id_message">Message:</label>
       		 	-->
        		{{ form.message }}
   				 </p>
				
				</div>

				<div class="span4 offset4">

					
					<input type="submit" value="SAY HELLO!">

				</div>

			</form>

		</div>

	</div>
	

	
	
	<a href="mailto:watttime.app@gmail.com">watttime.app@gmail.com</a> 

{% endblock %}
