{% extends "base.html" %}

{% block title %}Facebook Pilot{% endblock %}

{% block content %}
<div class="well" style="text-align:left">
<h4>Dear Facebook employee,
<br><br>
Thank you for considering helping us pilot test our project!
<br><br>
WattTime is about deciding where you want your electricity to come from. Electricity is a whole lot cleaner at certain times of day than others. Some times the windmills are turning and the hydropower is flowing, other times you're mostly just buying fossil fuels.
<br><br>
With WattTime, you can know which time is which! Check our site at any time to know how clean your power is right now. Sign up to receive SMS alerts when the grid is particularly clean or dirty.
<br><br>
And personalize your account for opportunities to affect the issues you care about in ways that are convenient for you. Do you have A/C and want to encourage renewable energy? We’ll let you know on days when pre-cooling your house would mean you could cool with renewable power. Concerned about the drought but don’t want to give up your long showers? Time your energy use to skip natural gas, and indirectly save huge amounts of water.
<br><br>
To begin, simply visit our main page and indicate that you live in California. You’re also welcome to invite other friends and family if you like. This isn’t a closed beta, we just aren’t doing any advertising yet while our product is still pretty early-stage.
<br><br>
And if you run into any difficulties, we’d particularly love to hear from you. We have done our best to iron out any kinks, but this is a very new product and we are a small team of part-time volunteers. There will probably be something clunky or broken somewhere!
<br><br>
If you have any additional questions, you can check our FAQ or How it Works pages. Or just drop us a line - we’d love to hear what you think!
<br><br>
Sincerely,
<br><br>
Gavin, Anna, Eric, Gabe, and Kevin
</h4>
</div>
{% endblock %}
