{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

{% block content %}

<h2>Frequent Questions</h2>

<div class="well faq-categories">
<ul style="font-size:16px; text-align:left"><h3>What is WattTime?</h3>
<li>WattTime helps you take control of the energy sources that power your own electricity consumption. Similar to many municipal information systems, WattTime uses a text message notification service to inform you when your energy source is particularly dirty or particularly clean. For more details please see: <a href="{% url 'how-it-works' %}">How It Works</a>.</li>

<h3>What does WattTime cost?</h3>
<li>WattTime does not charge users to receive energy status notifications or to send replies to WattTIme. Please note that the current version of WattTime does send occasional text messages (you control the frequency), and if you pay to receive and send text messages, normal rates may apply. Please check with your carrier.</li>

<h3>Are you available in my region?</h3>
<li>Currently we are piloting WattTime in Massachusetts, and can also support users in New Hampshire, Connecticut, Rhode Island, Vermont, and Maine. We plan to include California, Washington, Oregon, and Idaho very soon. If you'd like to be notified when we are available in your state, just sign up on our main page!</li>

<h3>How do I unsubscribe?</h3>
<li>During our pilot phase, unsubscription works by email. At any time you can simply send the message "unsubscribe" to <a href="mailto://WattTime.app@gmail.com">WattTime.app@gmail.com</a>. If for some reason you cannot email from the address you signed up with, please just include your original email address, name, and phone number in the body of your email and we will remove you.</li>

<h3>What's your privacy policy?</h3>
<li>We believe that rigorous scientific research and people-centered design can be an important tool in the fight against climate change. We do collect anonymous user data and may eventually publish any important findings in scientific journals. But we take that anonymity seriously. We will never, ever, sell, share or publish any individually identifiable information without your explicit consent. That includes your contact information - no spam here.</li>

<h3>Are you a private company?</h3>
<li>Right now we are a small group of dedicated individuals trying to do some good in the world. We may eventually expand our business model to ensure that we can continue to make it relevant and effective, but our top priority is to help energy consumers make decisions according to their own values. We believe that when people can freely choose their energy sources it can have a big impact in the fight against climate change.</li>
</ul></div>
{% endblock %}