{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime: How It Works{% endblock %}

{% block content %}

<div class="page-header">
<h2>How It Works</h2>
</br>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">
                    WattTime helps you choose your power
                </h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
    		<h3 class="text-center">Care about energy?</h3>
            </div>
            <div class="col-md-8">
        	<p class="text-center">
                    If you had a choice, would you care what kind of power fuels our nation? 
                    Clean power like solar and wind, or aging fossil plants?
                </p>
            </div>
		</div>

	<div class="row">
            <div class="col-md-4">
			<h3 class="text-center">Your voice matters</h3>
            </div>
            <div class="col-md-8">
			<p class="text-center">
                        Every day, hundreds of power plants compete to sell you power. 
                        At WattTime, we think it's time you had a say in who wins.
                    </p>
            </div>
	</div>

	<div class="row">
            <div class="col-md-4">
        		<h3 class="text-center">Timing is everything</h3>
            </div>
            <div class="col-md-8">
			<p class="text-center">
			When you flip a light switch, your money goes to different power 
			plants depending on how the competition is going right now.
                    </p>
		</div>
        </div>

	<div class="row">
            <div class="col-md-4">
        		<h3 class="text-center">We can help</h3>
		</div>
            <div class="col-md-8">
			<p class="text-center">
			WattTime monitors the grid 24/7 to give you real-time information 
			about who is trying to sell you what, when.
                    </p>
		</div>
	</div>
		
	<div class="row">
            <div class="col-md-4">
        		<h3 class="text-center">Affect your world</h3>
		</div>
            <div class="col-md-8">
			<p class="text-center">
			Just by choosing when you want to draw power and when you'd rather wait, 
			you can have a big impact. Finally, you can have a say in what kind of 
			power fuels your lifestyle! 
                    </p>
		</div>
		</div>

	<div class="row">
            <div class="col-md-4">
			<h3 class="text-center">Just the Beginning</h3>
		</div>
            <div class="col-md-8">
			<p class="text-center">
                        Additional tools coming soon.
                    </p>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        View today's clean energy <a href="{% url 'status' %}">forecast at WattTime Explorer</a> <br>Receive notifications when your actions have the biggest impact, via <a href="{% url 'alerts_home' %}">WattTime Alerts</a>. <br>Find the best time to use electricity and <a href="{% url 'shift' %}">track your impact with WattTime Shift</a>.
    </div>
	</div>
    </div>
</div>

{% endblock %}
