{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime: How It Works{% endblock %}

{% block content %}

<div>
<h1>How It Works</h1>
</br>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    WattTime helps you choose your power
                </h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
    		<h3>Care about energy?</h3>
         	<p>
                    If you had a choice, would you care what kind of power fuels our nation? 
                    Clean power like solar and wind, or aging fossil plants?
                </p>
            </div>
		</div>

	<div class="row">
            <div class="col-md-12">
			<h3>Your voice matters</h3>
			<p>
                        Every day, hundreds of power plants compete to sell you power. 
                        At WattTime, we think it's time you had a say in who wins.
                    </p>
            </div>
	</div>

	<div class="row">
            <div class="col-md-12">
        		<h3>Timing is everything</h3>
			<p>
			When you flip a light switch, your money goes to different power 
			plants depending on how the competition is going right now.
                    </p>
		</div>
        </div>

	<div class="row">
            <div class="col-md-12">
        		<h3>We can help</h3>
			<p>
			WattTime monitors the grid 24/7 to give you real-time information 
			about who is trying to sell you what, when.
                    </p>
		</div>
	</div>
		
	<div class="row">
            <div class="col-md-12">
        		<h3>Affect your world</h3>
			<p>
			Just by choosing when you want to draw power and when you'd rather wait, 
			you can have a big impact. Finally, you can have a say in what kind of 
			power fuels your lifestyle! 
                    </p>
		</div>
		</div>

	<div class="row">
            <div class="col-md-12">
			<h3>Just the Beginning</h3>
			<p>
                        Additional tools coming soon.
                    </p>
            </div>
        </div>
    </div>
</div>

{% include "base_snippets/footer_tactics.html" %}


{% endblock %}
