{% extends "base.html" %}

{% block title %}WattTime: Impact{% endblock %}

{% block content %}

<h2>Impact</h2>

<br>
<div class="well">
With WattTime, users can time their electricity use to help cleaner energy sources compete and grow.

Two simple strategies are currently live:
1) Percent clean energy. Our software can show users how much of their region's power currently comse 
from clean renewable sources, the only way to shift demand towards inframarginal renewable fuel sources. 
2) Marginal fuel. Users can see the current marginal fuel source in their region, allowing them to shift demand towards
cleaner conventional fuels such as hydropower and biomass away from dirty sources such as coal and oil. (Currently
implemented in New England only, additional regions coming soon).

Coming soon: More powerful stragies under development by our crack team of economists and data analysts from UC
Berkeley, MIT, and the University of Western Australia. By combining open data with automated real-time economic 
analysis, it should soon be possible for our users to also time electricity to take advantage of:

3) Curtailment. By exploiting wind power oversupply, users in select locations will be able to reduce emissions by up to 100% at optimal times.
4) Renewable intermittency. Through automation of select devices, users will be able to use energy at times which exploit minor spikes in the availability of renewable energy, making renewable energy more competitive with fossil power plants.
5) Reducing ramping. With automation, users can even reduce pollution from traditional power plants by allowing them to reduce wasteful episodes of turning up and down repeatedly. <a href="http://pubs.acs.org/doi/abs/10.1021/es801437">Some estimates</a> suggest this technique can reduce power plant emissions by up to 25%.
6) Forecast insurance. Pushing electricity demand to offset the difference between wind power plants's production and their forecats

Other strategies still in the experimental development stage.
  
</div>

{% endblock %}
