{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime: Impact{% endblock %}

{% block content %}
<div class="page-header">
<h2>Impact</h2>
</br>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Impacts in action today</h3>
        <p>
            With WattTime, users can time their electricity use to help cleaner energy
            sources compete and grow.
        </p>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <h3 class="text-center">Percent clean energy</h3>
            <p class="text-info">
                Our software can show users what share of their region's power currently comes 
                from clean renewable sources, currently the only way for ordinary people to 
                shift demand to prioritize existing inframarginal renewable fuel sources. 
            </p>            
        </div>  
        <div class="col-md-6">
            <h3 class="text-center">Marginal fuel</h3>
            <p class="text-info">
                Users can see the current marginal fuel source in their region, allowing them
                to shift demand as they like, such as towards cleaner peaker fuels like hydropower 
                and biomass, and away from dirty sources such as coal and oil. (Yes, in today's 
                low natural gas price regime, we do indeed see peaker coal.) Currently 
                implemented in New England only; additional regions coming soon.
            </p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Coming soon</h3>
        <p>
            By combining open data with automated real-time economic analysis, it should
            soon be possible for our users to also time electricity to take advantage of
            a growing list of even more powerful strategies to increase renewable power 
            competitiveness and reduce system emissions without reducing power availability.
            (Currently under development by
            our crack team of energy economists and data analysts from UC Berkeley, MIT, and the
            University of Western Australia.)
        </p>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <h3 class="text-center">Curtailment</h3>
            <p class="text-info">
                By exploiting periods of wind power oversupply due to transmission constraints, 
                users in select locations will be able to reduce indirect emissions by up to 100% 
                at optimal times.
            </p>            
        </div>  
        <div class="col-md-6">
            <h3 class="text-center">Renewable intermittency</h3>
            <p class="text-info">
                Through automation of select devices, users will be able to use energy at
                times which exploit minor fluctuations in the availability of wind and solar energy,
                turning the tables on renewables intermittency and making renewables more
                competitive with fossil power plants.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Reduced ramping</h3>
            <p class="text-info">
                With automation, users can even reduce pollution from traditional power
                plants by allowing them to reduce wasteful episodes of turning up and down
                repeatedly.
                <a href="http://pubs.acs.org/doi/abs/10.1021/es801437">Some estimates</a>
                suggest this technique can reduce power plant emissions by up to 25%.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Forecast insurance</h3>
            <p class="text-info">
                By pushing electricity demand to offset the difference between wind power
                plants's production and their forecats, users can effectively increase the 
                capacity factor of intermittant resources for the few most valuable moments 
                the year, increasing grid stability and paving the way for renewables to 
                compete on equal footing in capacity markets.
            </p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-footer">
        Questions about WattTime? Try the <a href="{% url 'faq' %}#general" >FAQ</a>.
    </div>
</div>

{% endblock %}
