{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime: In The Press{% endblock %}

{% block content %}
<div>
<h1>In The Press</h1>
</br>
</div>

<div class="panel panel-default">

    <div class="panel-body">

       <div class="col-md-12">
          <div class="well well-sm">
            <h1 class="yellow">Forbes</h1>
            <h2><a href="//www.forbes.com/sites/kerryflynn/2014/07/14/unrestricted-funding-famous-alums-fuel-coveted-fellowship-in-climate/" target="_blank">Unrestricted Funding, Famous Alums Fuel Coveted Fellowship For Social Entrepreneurs</a></h2>
            <p>14 July 2014</a></p>
          </div>
        </div>

       <div class="col-md-12">
          <div class="well well-sm">
            <h1 class="yellow">Fast Co.Exist</h1>
            <h2><a href="//fastcoexist.com/3032583/finally-a-way-to-know-whether-the-power-to-your-outlet-is-clean-or-dirty" target="_blank">Finally, A Way To Know Whether The Power To Your Outlet Is Clean Or Dirty</a></h2>
            <p>9 July 2014</a></p>
          </div>
        </div>

       <div class="col-md-12">
          <div class="well well-sm">
            <h1 class="yellow">Today at Berkeley Lab</h1>
            <h2><a href="//newscenter.lbl.gov/2014/07/08/berkeley-lab-researchers-moonlight-in-cleanweb-sector/" target="_blank">Berkeley Lab Researchers Moonlight in "Cleanweb" Sector</a></h2>
            <p>8 July 2014</a></p>
          </div>
        </div>

       <div class="col-md-12">
          <div class="well well-sm">
            <h1 class="yellow">World Resources Institute Blog</h1>
            <h2><a href="//datalab.wri.org/ecohack-wrapup" target="_blank">EcoHack rundown</a></h2>
            <p>4 June 2014</a></p>
          </div>
        </div>

       <div class="col-md-12">
          <div class="well well-sm">
            <h1 class="yellow">UC CITRIS Blog</h1>
            <h2><a href="//citris-uc.org/meet-citris-mobile-app-challenge-winners/" target="_blank">Congratulations to the CITRIS @ Berkeley Mobile App Challenge Winners!</a></h2>
            <p>8 May 2014</a></p>
          </div>
        </div>

       <div class="col-md-12">
          <div class="well well-sm">
            <h1 class="yellow">Renewables International Magazine</h1>
            <h2><a href="//www.renewablesinternational.net/visualization-of-power-data-in-us/150/537/77659/" target="_blank">Visualization of power data in US</a></h2>
            <p>20 March 2014</a></p>
          </div>
        </div>

       <div class="col-md-12">
          <div class="well well-sm">
            <h1 class="yellow">The Guardian</h1>
            <h2><a href="//www.theguardian.com/sustainable-business/blog/12-hours-save-world-app-developers" target="_blank">What would you do with 12 hours to save the world?</a></h2>
            <p>13 November 2013</a></p>
          </div>
        </div>

    </div>
</div>

{% include "base_snippets/footer_tactics.html" %}


{% endblock %}