{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime: In The Press{% endblock %}

{% block content %}
<div>
<h1>In The Press</h1>
</br>
</div>

<div class="panel panel-default">

    <div class="panel-body">

      {% for o in object_list %}
       <div class="col-md-12">
          <div class="well well-sm">
            <h1 class="yellow">{{o.outlet}}</h1>
            <h2><a href="{{o.link}}" target="_blank">{{o.title}}</a></h2>
            <p>{{o.published_on|date:"j F Y"}}</a></p>
          </div>
        </div>
        {% endfor %}

    </div>
</div>

{% include "base_snippets/footer_tactics.html" %}


{% endblock %}