{% extends "base.html" %}

{% block title %}WattTime: Privacy Policy{% endblock %}

{% block content %}

<div class="page-header">
<h2>Privacy Policy</h2>
</br>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
 

<p class="text-info">WattTime doesn't sell, share or publish individually identifiable information without explicit consent. This includes any information collected by WattTime from its customers for the purposes of providing its users with better energy intelligence. We may collect anonymous data about users actions to improve the services we provide, and we also may publish scientifically relevant findings about human behavior, social practices, energy economics, or service design in journals and blogs. We believe that rigorous scientific research and people-centered design can be an important tool in building collective action against climate change. However, we also respect your expectations of anonymity and take them seriously.</p>


 </div>
</div>
{% endblock %}
