{% extends "base.html" %}

{% block title %}Sierra Club Pilot{% endblock %}

{% block content %}
<div class="well" style="text-align:left">
<h4>
Dear Sierra Club volunteer,
<br><br>
Thank you for considering helping us pilot test our project!
<br><br>
WattTime is about deciding where you want your electricity to come from. Electricity is a whole lot cleaner at certain times of day than others. Some times you’re buying electricity from wind farms; other times from coal-fired power plants. With WattTime, you can finally know which time is which!
<br><br>
You can check our site at any time to know how clean your power is right now. But we predict that the main value will be from our texting service. Instead of worrying about clean or dirty energy all of the time, you can sign up to receive SMS alerts when the grid is at its very dirtiest or cleanest and make a difference right when it matters most.
<br><br>
And personalize your account for opportunities to affect the issues you care about in ways that are convenient for you. Are you focused on shutting down coal-fired power plants? We’ll let you know when coal is the key fuel powering your house right now. Do you have air conditioning and want to encourage renewable energy? We’ll let you know on days when turning up your A/C briefly would mean you could cool more with renewable power.
<br><br>
To begin, simply visit our main page and indicate that you live in Massachusetts. If you like, you’re also welcome to invite other friends and family. This isn’t a closed pilot, we just aren’t doing any advertising yet while our product is still so new. We are so far just a small group of volunteers in grad school or working other jobs, so we are adding features a little slower than a large corporation might be able to.
<br><br>
Please feel free to contact us at any time and we’ll get back to you as fast as we can. If you run into any difficulties, we’d particularly love to hear from you. We have done our best to iron out any kinks, but there will probably be something clunky or broken somewhere! And If you have any additional questions, you can check our FAQ or How it Works pages. Or just drop us a line - we’d love to hear what you think!
<br><br>
Sincerely,
<br><br>
Gavin, Anna, Eric, Gabe, and Kevin
</h4>
</div>
{% endblock %}
