{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime Explorer{% endblock %}

{% block content %}

<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script src="{% static "js/crossfilter.v1.min.js" %} "></script>
<script src="{% static "js/d3.v3.min.js" %} "></script>


<style>
#charts .avline { 
    stroke: #999999;
    stroke-width: 3;
    fill: none;
}
#charts .actualline { 
    stroke: #99DFF9;
    stroke-width: 3;
    fill: none;
}
#charts .fcline { 
    stroke: #8DC63F;
    stroke-dasharray: 12,12;
    stroke-width: 3;
    fill: none;
}
#charts .axis path,
#charts .axis line {
    fill: none;
    stroke: #6D6371;
    stroke-width: 2;
    shape-rendering: crispEdges;
}
#charts .axis text {
    font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
    fill: #6D6371;
}

#charts div {
    font-size: 100%;
}
#charts .points {
    fill: #339999;
}
#charts .label {
    font-size:18px;
    font-weight:400;
    font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
    fill:#6D6371;
}
#charts .title {
    font-size:20px;
    font-weight:600;
    font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
    fill:#FFDE17;
}
#charts tspan {
    font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:600;
}

</style>

<div>
<h1>WattTime Explorer</h1>
</br>
</div>

<div class="panel panel-default">
	<div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Monitor your power
                </h2>
                <p>
                    WattTime Explorer shows the latest real-time data about today's clean
                    electricity supply, along with a typical average day. <br>
                    Click on the green regions in the map to explore today's clean energy status.
                    More regions coming soon!
                </p>
            <hr>
            <div class="row" id="charts" >
                <div class="col-md-6">
                    <div id="map" align="center" class=""></div>
                </div>   
            
                <div class="col-md-6">
                    <div id="loading">
                        <h1 class="gray" style="font-size:600%; margin-top:60px">loading...</h1>
                    </div>
                    <div id="green-chart" align="center" class=""></div>
                </div>
            </div>
            <br>

        	<div class="alert alert-warning alert-dismissable">
  			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
 	 		<p class="text-warning">
            <strong>Please be patient.</strong> WattTime is fetching live data, and it may take a moment.
                <br>
                WattTime Explorer works best with newer browsers.
                <br>
                Forecast only available for California; more regions coming soon.
                </p>
			</div>
        
        </div>
      </div>
    </div>  
</div>

{% include "base_snippets/footer_tools.html" %}


<script type="text/javascript">

 /////////////////////
    // CHART
    /////////////////////
    var margin = {top: 50, right: 50, bottom: 50, left: 50},
        width = 450 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;
    var all_data = [],
        actual_data = [],
        forecast_data = [],
        average_data = [];
    
    var parseDate = d3.time.format("%Y-%m-%d %H:%M").parse;
    var parseISO = d3.time.format("%Y-%m-%dT%H:%M:%S.%LZ");
    
    var x = d3.time.scale().range([0, width]);
    var y = d3.scale.linear().range([height, 0]).nice();
    
    var xAxis = d3.svg.axis().scale(x)
        .orient("bottom")        
        .tickFormat(d3.time.format("%_I %p"));
    
    var yAxis = d3.svg.axis().scale(y)
        .orient("left").ticks(5);
    
    var valueline = d3.svg.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.value); });
    
    var svg = d3.select("#green-chart")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // get date 2 weeks ago
    var avstart = new Date();
    avstart.setDate(new Date().getDate() - 14);
    console.log(avstart);
    var avstart_month = avstart.getMonth() + 1;
    var avstart_day = avstart.getDate();
    var avstart_str = avstart.getFullYear().toString();
    if (avstart_month < 10) {
        avstart_str += "0"+avstart_month.toString();
    } else if (avstart_month == 13) {
        avstart_str += "01";
    } else {
        avstart_str += avstart_month.toString();        
    }
    if (avstart_day < 10) {
        avstart_str += "0"+avstart_day.toString();
    } else {
        avstart_str += avstart_day.toString();        
    }
    avstart_str += "0000";

    // Get the data
    var initial_chart_for_state = function(state) {
        d3.json("//www.watttime.com/averageday/?st="+state+"&start="+avstart_str, function(error, av_data){
            av_data.forEach(function(d) {
                d.date = parseDate(d.local_time);
                d.value = +d.percent_green;
                all_data.push(d);
                average_data.push(d);
            });
        d3.json("//www.watttime.com/today/?st="+state, function(error, new_data){
            new_data.forEach(function(d) {
                d.date = parseDate(d.local_time);
                d.value = +d.percent_green;
                all_data.push(d);
                if (d.forecast_code > 0) {
                    forecast_data.push(d);
                } else {
                    actual_data.push(d);
                }
            });
        
            // Scale the range of the data
            min_time = new Date(d3.min(all_data, function(d) { return d.date; }));
            start_time = new Date(min_time.setHours(0,0,0));
            end_time = new Date(min_time.setHours(24,0,0));
            x.domain([start_time, end_time]);
            y.domain([0, Math.min(100, 10+d3.max(all_data, function(d) { return d.value; }))]);        

            svg.append("path")      // Add the valueline path.
                .attr("class", "avline")
                .attr("d", valueline(average_data));
            svg.append("path")      // Add the valueline path.
                .attr("class", "actualline")
                .attr("d", valueline(actual_data));
            svg.append("path")      // Add the valueline path.
                .attr("class", "fcline")
                .attr("d", valueline(forecast_data));

      //      svg.selectAll("circle")
      //          .data(data).enter()
      //          .append("circle")
       //         .attr("class", "points")
       //         .attr("r", 4)
       //         .attr("cx", function(d) { return x(d.date); })
       //         .attr("cy", function(d) { return y(d.value); })

            svg.append("g")         // Add the X Axis
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);
            svg.append("text")
                .attr("class", "x label")
                .attr("y", (height+margin.bottom/2))
                .attr("x", (width / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text("local time"); 
        
            svg.append("g")         // Add the Y Axis
                .attr("class", "y axis")
                .call(yAxis);
            svg.append("text")
                .attr("class", "y label")
                .attr("transform", "rotate(-90)")
                .attr("y", -margin.left)
                .attr("x", -height/2)
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text("% clean energy"); 
    
            svg.append("text")
                .attr("class", "chart title")
                .attr("y", -margin.top/2)
                .attr("x", (width / 2))
                .attr("dy", "0em")
                .style("text-anchor", "middle")
                .text("Clean energy in "+state); 

            var legend = svg.append("text")
                .attr("class", "legend")
                .attr("dy", "1em")
                .attr("y", 0)
                .attr("x", (width / 2))
                .style("text-anchor", "middle");

            legend.append("tspan")
                .attr("class", "actual")
                .attr("dx", "-0em")
                .attr("fill", "#99DFF9")
                .text("today"); 
            legend.append("tspan")
                .attr("class", "average")
                .attr("dx", "3em")
                .attr("fill", "#999999")
                .text("average");
            legend.append("tspan")
                .attr("class", "forecast")
                .attr("dx", "3em")
                .attr("fill", "#8DC63F")
                .text("forecast");  
      
            $("#loading").fadeOut(0);
        });
        });
    }

    var update_chart_for_state = function(state) {
        $("#green-chart").fadeOut(0);
        $("#loading").fadeIn(0);
        all_data = [];
        actual_data = [];   
        average_data = [];
        forecast_data = [];
      //      d3.selectAll("circle")
      //          .data(data).exit()
      //          .remove();
        d3.json("//www.watttime.com/averageday/?st="+state+"&start="+avstart_str, function(error, av_data){
            av_data.forEach(function(d) {
                d.date = parseDate(d.local_time);
                d.value = +d.percent_green;
                all_data.push(d);
                average_data.push(d);
            });
        d3.json("//www.watttime.com/today/?st="+state, function(error, new_data){
            new_data.forEach(function(d) {
                d.date = parseDate(d.local_time);
                d.value = +d.percent_green;
                all_data.push(d);
                if (d.forecast_code > 0) {
                    forecast_data.push(d);
                } else {
                    actual_data.push(d);
                }
            });
        
            // Scale the range of the data
            min_time = new Date(d3.min(all_data, function(d) { return d.date; }));
            start_time = new Date(min_time.setHours(0,0,0));
            end_time = new Date(min_time.setHours(24,0,0));
            x.domain([start_time, end_time]);
            y.domain([0, Math.min(100, 10+d3.max(all_data, function(d) { return d.value; }))]);

       //     d3.selectAll("circle")
       //         .data(data).enter()
       //         .append("circle")
       //         .attr("class", "points")
        //        .attr("r", 4)
        //        .attr("cx", function(d) { return x(d.date); })
        //        .attr("cy", function(d) { return y(d.value); })
           
            var svg = d3.select("#green-chart").transition(); 

            svg.select(".avline")      // Add the valueline path.
                .duration(500)
                .attr("d", valueline(average_data));        
            svg.select(".actualline")      // Add the valueline path.
                .duration(500)
                .attr("d", valueline(actual_data));        
            svg.select(".fcline")      // Add the valueline path.
                .duration(500)
                .attr("d", valueline(forecast_data));        
    
            svg.select(".x.axis")         // Add the X Axis
                .duration(500)
                .call(xAxis);
            svg.select(".y.axis")         // Add the X Axis
                .duration(500)
                .call(yAxis);
        
            svg.select(".chart.title")
                .duration(500)
                .text("Clean Energy in "+state); 

            $("#loading").fadeOut(0);
            $("#green-chart").fadeIn(0);
        });
        });
    }

    initial_chart_for_state("{{ initial_state }}");
    
    

    /////////////////////
    // MAP
    /////////////////////
    google.load('visualization', '1', {packages: ['geochart']});

    function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
            ['State', 'Site', 'ST'],
            ['Alabama', 0, 'AL'],
            ['Alaska', 0, 'AK'],
            ['American Samoa', 0, 'AS'],
            ['Arizona', 0, 'AZ'],
            ['Arkansas', 0, 'AR'],
            ['California', 1, 'CA'],
            ['Colorado', 0, 'CO'],
            ['Connecticut', 3, 'CT'],
            ['Delaware', 5, 'DE'],
            ['District of Columbia', 5, 'DC'],
            ['Florida', 0, 'FL'],
            ['Georgia', 0, 'GA'],
            ['Guam', 0, 'GM'],
            ['Hawaii', 0, 'HI'],
            ['Idaho', 2, 'ID'],
            ['Illinois', 4, 'IL'],
            ['Indiana', 4, 'IN'],
            ['Iowa', 4, 'IA'],
            ['Kansas', 0, 'KS'],
            ['Kentucky', 5, 'KY'],
            ['Louisiana', 0, 'LA'],
            ['Maine', 3, 'ME'],
            ['Maryland', 5, 'MD'],
            ['Massachusetts', 3, 'MA'],
            ['Michigan', 4, 'MI'],
            ['Minnesota', 4, 'MN'],
            ['Mississippi', 0, 'MS'],
            ['Missouri', 0, 'MO'],
            ['Montana', 0, 'MT'],
            ['Nebraska', 0, 'NE'],
            ['Nevada', 0, 'NV'],
            ['New Hampshire', 3, 'NH'],
            ['New Jersey', 5, 'NJ'],
            ['New Mexico', 0, 'NM'],
            ['New York', 0, 'NY'],
            ['North Carolina', 0, 'NC'],
            ['North Dakota', 4, 'ND'],
            ['Northern Marianas Islands', 0, ''],
            ['Ohio', 5, 'OH'],
            ['Oklahoma', 0, 'OK'],
            ['Oregon', 2, 'OR'],
            ['Pennsylvania', 5, 'PA'],
            ['Puerto Rico', 0, 'PR'],
            ['Rhode Island', 3, 'RI'],
            ['South Carolina', 0, 'SC'],
            ['South Dakota', 4, 'SD'],
            ['Tennessee', 0, 'TN'],
            ['Texas', 0, 'TX'],
            ['Utah', 0, 'UT'],
            ['Vermont', 3, 'VT'],
            ['Virginia', 5, 'VA'],
            ['Virgin Islands', 0, 'VI'],
            ['Washington', 2, 'WA'],
            ['West Virginia', 5, 'WV'],
            ['Wisconsin', 4, 'WI'],
            ['Wyoming', 0, 'WY']
        ]);
        
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
            type: 'string',
            role: 'tooltip',
            calc: function () {
                return '';
            }
        }]);
        
        var geochart = new google.visualization.GeoChart(document.getElementById('map'));
        var options = {};
        options['region'] = 'US';
        options['resolution'] = 'provinces';
        options['width'] = 420;
        //options['height'] = 200;
        options['colors'] = ['#DDDDDD', '#8DC63F', '#8DC63F', '#8DC63F', '#8DC63F', '#8DC63F'];
        options['legend'] = 'none';
        options['backgroundColor'] = 'none';
    
        google.visualization.events.addListener(geochart, 'select', function() {
            var selectionIdx = geochart.getSelection()[0].row;
            var stateName = data.getValue(selectionIdx, 0);
            var value = data.getValue(selectionIdx, 1);
            var stateAbbrev = data.getValue(selectionIdx, 2);

            if (value > 0) {
                update_chart_for_state(stateAbbrev);
            }
            
        });
    
        geochart.draw(view, options);
    }
    

    google.setOnLoadCallback(drawVisualization);

   


</script>


{% endblock %}
