{% extends "base.html" %}

{% block title %}Current status{% endblock %}

{% block content %}

<br><br>
<div class="well"><p>Please select a region to see how clean its electricity is right now. <br>(Currently supported states are in green.)</p>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['geochart']});

    function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
            ['State', 'Site'],
            ['Alabama', 0],
            ['Alaska', 0],
            ['American Samoa', 0],
            ['Arizona', 0],
            ['Arkansas', 0],
            ['California', 1],
            ['Colorado', 0],
            ['Connecticut', 3],
            ['Delaware', 0],
            ['District of Columbia', 0],
            ['Florida', 0],
            ['Georgia', 0],
            ['Guam', 0],
            ['Hawaii', 0],
            ['Idaho', 2],
            ['Illinois', 0],
            ['Indiana', 0],
            ['Iowa', 0],
            ['Kansas', 0],
            ['Kentucky', 0],
            ['Louisiana', 0],
            ['Maine', 3],
            ['Maryland', 0],
            ['Massachusetts', 3],
            ['Michigan', 0],
            ['Minnesota', 0],
            ['Mississippi', 0],
            ['Missouri', 0],
            ['Montana', 0],
            ['Nebraska', 0],
            ['Nevada', 0],
            ['New Hampshire', 3],
            ['New Jersey', 0],
            ['New Mexico', 0],
            ['New York', 0],
            ['North Carolina', 0],
            ['North Dakota', 0],
            ['Northern Marianas Islands', 0],
            ['Ohio', 0],
            ['Oklahoma', 0],
            ['Oregon', 2],
            ['Pennsylvania', 0],
            ['Puerto Rico', 0],
            ['Rhode Island', 3],
            ['South Carolina', 0],
            ['South Dakota', 0],
            ['Tennessee', 0],
            ['Texas', 0],
            ['Utah', 0],
            ['Vermont', 3],
            ['Virginia', 0],
            ['Virgin Islands', 0],
            ['Washington', 2],
            ['West Virginia', 0],
            ['Wisconsin', 0],
            ['Wyoming', 0]
        ]);
        
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
            type: 'string',
            role: 'tooltip',
            calc: function () {
                return '';
            }
        }]);
        
        var geochart = new google.visualization.GeoChart(document.getElementById('visualization'));
        var options = {};
        options['region'] = 'US';
        options['resolution'] = 'provinces';
        options['width'] = 620;
        options['height'] = 430;
        options['colors'] = ['#DDEEF8', '#33ccaa', '#33ccaa', '#33ccaa'];
        options['legend'] = 'none';
    
        google.visualization.events.addListener(geochart, 'select', function() {
            var selectionIdx = geochart.getSelection()[0].row;
            var stateName = data.getValue(selectionIdx, 0);
            var value = data.getValue(selectionIdx, 1);
            
            if (value == '1') {
                window.open('{% url 'CA_status' %}' + stateName);
            }
          
          if (value == '2') {
                window.open('{% url 'BPA_status' %}' + stateName);
            }
          
          if (value == '3') {
                window.open('{% url 'NE_status' %}' + stateName);
            }
        });
    
        geochart.draw(view, options);
    }
    

    google.setOnLoadCallback(drawVisualization);
  </script>
<div id="visualization"></div>
<!-- Gabe here are the links: Gavin -->
<li><a href="{% url 'NE_status' %}">Massachusetts, New Hampshire, Vermont, Connecticut, Rhode Island, Maine</a></li>
<li><a href="{% url 'CA_status' %}">California</a></li>
<li><a href="{% url 'BPA_status' %}">Washington, Oregon, Idaho</a></li>
	
</div>

{% endblock %}
