{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Current status{% endblock %}

{% block content %}

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script src="{% static "js/crossfilter.v1.min.js" %} "></script>
<script src="{% static "js/d3.v3.min.js" %} "></script>


<style>
#charts .avline { 
    stroke: #AAAAAA;
    stroke-width: 3;
    fill: none;
}
#charts .actualline { 
    stroke: #339999;
    stroke-width: 3;
    fill: none;
}
#charts .fcline { 
    stroke: #33cc99;
    stroke-dasharray: 12,12;
    stroke-width: 3;
    fill: none;
}
#charts .axis path,
#charts .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}
#charts div {
    font-size: 100%;
}
#charts .points {
    fill: #339999;
}
</style>

<br><br>


<h2>Current Status</h2>

<p class="lead">
    Select a supported region (in green) to see how clean its electricity is right now.
    For a detailed list of supported states and data sources, check out the
    <a href="{% url 'faq' %}">Help</a> page.
</p>
    <div class="well" style="padding: 0px 0px 0px 0px;">
<p class="lead text-success" style="text-align: center;">How green is today's energy in different regions?</p>

<div class="progress progress-striped active">
  <div class="bar bar-success" style="width: 30%;"></div>
  <div class="bar bar-warning" style="width: 20%;"></div>
  <div class="bar bar-danger" style="width: 50%;"></div>
</div>

    <div class="" id="charts">
      <div id="green-chart" align="center" class=""></div>
    

    <div id="map" align="center" class=""></div>
</div>
</div>

<script type="text/javascript">

    /////////////////////
    // MAP
    /////////////////////
    google.load('visualization', '1', {packages: ['geochart']});

    function drawVisualization() {
        var data = google.visualization.arrayToDataTable([
            ['State', 'Site', 'ST'],
            ['Alabama', 0, 'AL'],
            ['Alaska', 0, 'AK'],
            ['American Samoa', 0, 'AS'],
            ['Arizona', 0, 'AZ'],
            ['Arkansas', 0, 'AR'],
            ['California', 1, 'CA'],
            ['Colorado', 0, 'CO'],
            ['Connecticut', 3, 'CT'],
            ['Delaware', 0, 'DE'],
            ['District of Columbia', 0, 'DC'],
            ['Florida', 0, 'FL'],
            ['Georgia', 0, 'GA'],
            ['Guam', 0, 'GM'],
            ['Hawaii', 0, 'HI'],
            ['Idaho', 2, 'ID'],
            ['Illinois', 0, 'IL'],
            ['Indiana', 0, 'IN'],
            ['Iowa', 0, 'IA'],
            ['Kansas', 0, 'KS'],
            ['Kentucky', 0, 'KY'],
            ['Louisiana', 0, 'LA'],
            ['Maine', 3, 'ME'],
            ['Maryland', 0, 'MD'],
            ['Massachusetts', 3, 'MA'],
            ['Michigan', 0, 'MI'],
            ['Minnesota', 0, 'MN'],
            ['Mississippi', 0, 'MS'],
            ['Missouri', 0, 'MO'],
            ['Montana', 0, 'MT'],
            ['Nebraska', 0, 'NE'],
            ['Nevada', 0, 'NV'],
            ['New Hampshire', 3, 'NH'],
            ['New Jersey', 0, 'NJ'],
            ['New Mexico', 0, 'NM'],
            ['New York', 0, 'NY'],
            ['North Carolina', 0, 'NC'],
            ['North Dakota', 0, 'ND'],
            ['Northern Marianas Islands', 0, ''],
            ['Ohio', 0, 'OH'],
            ['Oklahoma', 0, 'OK'],
            ['Oregon', 2, 'OR'],
            ['Pennsylvania', 0, 'PA'],
            ['Puerto Rico', 0, 'PR'],
            ['Rhode Island', 3, 'RI'],
            ['South Carolina', 0, 'SC'],
            ['South Dakota', 0, 'SD'],
            ['Tennessee', 0, 'TN'],
            ['Texas', 0, 'TX'],
            ['Utah', 0, 'UT'],
            ['Vermont', 3, 'VT'],
            ['Virginia', 0, 'VA'],
            ['Virgin Islands', 0, 'VI'],
            ['Washington', 2, 'WA'],
            ['West Virginia', 0, 'WV'],
            ['Wisconsin', 0, 'WI'],
            ['Wyoming', 0, 'WY']
        ]);
        
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1, {
            type: 'string',
            role: 'tooltip',
            calc: function () {
                return '';
            }
        }]);
        
        var geochart = new google.visualization.GeoChart(document.getElementById('map'));
        var options = {};
        options['region'] = 'US';
        options['resolution'] = 'provinces';
        options['width'] = 450;
        options['height'] = 300;
        options['colors'] = ['#DDEEF8', '#33ccaa', '#33ccaa', '#33ccaa'];
        options['legend'] = 'none';
        options['backgroundColor'] = 'none';
    
        google.visualization.events.addListener(geochart, 'select', function() {
            var selectionIdx = geochart.getSelection()[0].row;
            var stateName = data.getValue(selectionIdx, 0);
            var value = data.getValue(selectionIdx, 1);
            var stateAbbrev = data.getValue(selectionIdx, 2);

            if (value > 0) {
                update_chart_for_state(stateAbbrev);
            }
            
        });
    
        geochart.draw(view, options);
    }
    

    google.setOnLoadCallback(drawVisualization);

    /////////////////////
    // CHART
    /////////////////////
    var margin = {top: 50, right: 50, bottom: 50, left: 50},
        width = 450 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;
    var all_data = [],
        actual_data = [],
        forecast_data = [],
        average_data = [];
    
    var parseDate = d3.time.format("%Y-%m-%d %H:%M").parse;
    var parseISO = d3.time.format("%Y-%m-%dT%H:%M:%S.%LZ");
    
    var x = d3.time.scale().range([0, width]);
    var y = d3.scale.linear().range([height, 0]).nice();
    
    var xAxis = d3.svg.axis().scale(x)
        .orient("bottom")        
        .tickFormat(d3.time.format("%_I %p"));
    
    var yAxis = d3.svg.axis().scale(y)
        .orient("left").ticks(5);
    
    var valueline = d3.svg.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.value); });
    
    var svg = d3.select("#green-chart")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // get date 2 weeks ago
    var avstart = new Date();
    avstart.setDate(new Date().getDate() - 14);
    console.log(avstart);
    var avstart_month = avstart.getMonth() + 1;
    var avstart_day = avstart.getDate();
    var avstart_str = avstart.getFullYear().toString();
    if (avstart_month < 10) {
        avstart_str += "0"+avstart_month.toString();
    } else if (avstart_month == 13) {
        avstart_str += "01";
    } else {
        avstart_str += avstart_month.toString();        
    }
    if (avstart_day < 10) {
        avstart_str += "0"+avstart_day.toString();
    } else {
        avstart_str += avstart_day.toString();        
    }
    avstart_str += "0000";

    // Get the data
    var initial_chart_for_state = function(state) {
        d3.json("http://watttime.herokuapp.com/averageday/?st="+state+"&start="+avstart_str, function(error, av_data){
            av_data.forEach(function(d) {
                d.date = parseDate(d.local_time);
                d.value = +d.percent_green;
                average_data.push(d);
            });
        d3.json("http://watttime.herokuapp.com/today/?st="+state, function(error, new_data){
            new_data.forEach(function(d) {
                d.date = parseDate(d.local_time);
                d.value = +d.percent_green;
                all_data.push(d);
                if (d.forecast_code > 0) {
                    forecast_data.push(d);
                } else {
                    actual_data.push(d);
                }
            });
        
            // Scale the range of the data
            min_time = new Date(d3.min(all_data, function(d) { return d.date; }));
            start_time = new Date(min_time.setHours(0,0,0));
            end_time = new Date(min_time.setHours(24,0,0));
            x.domain([start_time, end_time]);
            y.domain([0, Math.min(100, 10+d3.max(all_data, function(d) { return d.value; }))]);        

            svg.append("path")      // Add the valueline path.
                .attr("class", "avline")
                .attr("d", valueline(average_data));
            svg.append("path")      // Add the valueline path.
                .attr("class", "actualline")
                .attr("d", valueline(actual_data));
            svg.append("path")      // Add the valueline path.
                .attr("class", "fcline")
                .attr("d", valueline(forecast_data));

      //      svg.selectAll("circle")
      //          .data(data).enter()
      //          .append("circle")
       //         .attr("class", "points")
       //         .attr("r", 4)
       //         .attr("cx", function(d) { return x(d.date); })
       //         .attr("cy", function(d) { return y(d.value); })

            svg.append("g")         // Add the X Axis
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);
            svg.append("text")
                .attr("class", "x label")
                .attr("y", (height+margin.bottom/2))
                .attr("x", (width / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text("local time"); 
        
            svg.append("g")         // Add the Y Axis
                .attr("class", "y axis")
                .call(yAxis);
            svg.append("text")
                .attr("class", "y label")
                .attr("transform", "rotate(-90)")
                .attr("y", -margin.left)
                .attr("x", -height/2)
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text("percent of total energy"); 
    
            svg.append("text")
                .attr("class", "chart title")
                .attr("y", -margin.top/2)
                .attr("x", (width / 2))
                .attr("dy", "1em")
                .style("text-anchor", "middle")
                .text("Today's green energy in "+state); 

            var legend = svg.append("text")
                .attr("class", "legend")
                .attr("dy", "1em")
                .attr("y", 0)
                .attr("x", (width / 2))
                .style("text-anchor", "middle");

            legend.append("tspan")
                .attr("class", "actual")
                .attr("dx", "-0em")
                .attr("fill", "#339999")
                .text("actual"); 
            legend.append("tspan")
                .attr("class", "average")
                .attr("dx", "3em")
                .attr("fill", "#AAAAAA")
                .text("average");
            legend.append("tspan")
                .attr("class", "forecast")
                .attr("dx", "3em")
                .attr("fill", "#33cc99")
                .text("forecast");        
        });
        });
    }

    var update_chart_for_state = function(state) {
        all_data = [];
        actual_data = [];   
        average_data = [];
        forecast_data = [];
      //      d3.selectAll("circle")
      //          .data(data).exit()
      //          .remove();
        d3.json("http://watttime.herokuapp.com/averageday/?st="+state+"&start="+avstart_str, function(error, av_data){
            av_data.forEach(function(d) {
                d.date = parseDate(d.local_time);
                d.value = +d.percent_green;
                average_data.push(d);
            });
        d3.json("http://watttime.herokuapp.com/today/?st="+state, function(error, new_data){
            new_data.forEach(function(d) {
                d.date = parseDate(d.local_time);
                d.value = +d.percent_green;
                all_data.push(d);
                if (d.forecast_code > 0) {
                    forecast_data.push(d);
                } else {
                    actual_data.push(d);
                }
            });
        
            // Scale the range of the data
            min_time = new Date(d3.min(all_data, function(d) { return d.date; }));
            start_time = new Date(min_time.setHours(0,0,0));
            end_time = new Date(min_time.setHours(24,0,0));
            x.domain([start_time, end_time]);
            y.domain([0, Math.min(100, 10+d3.max(all_data, function(d) { return d.value; }))]);

       //     d3.selectAll("circle")
       //         .data(data).enter()
       //         .append("circle")
       //         .attr("class", "points")
        //        .attr("r", 4)
        //        .attr("cx", function(d) { return x(d.date); })
        //        .attr("cy", function(d) { return y(d.value); })
           
            var svg = d3.select("#green-chart").transition(); 

            svg.select(".avline")      // Add the valueline path.
                .duration(500)
                .attr("d", valueline(average_data));        
            svg.select(".actualline")      // Add the valueline path.
                .duration(500)
                .attr("d", valueline(actual_data));        
            svg.select(".fcline")      // Add the valueline path.
                .duration(500)
                .attr("d", valueline(forecast_data));        
    
            svg.select(".x.axis")         // Add the X Axis
                .duration(500)
                .call(xAxis);
            svg.select(".y.axis")         // Add the X Axis
                .duration(500)
                .call(yAxis);
        
            svg.select(".chart.title")
                .duration(500)
                .text("Today's green energy in "+state); 
       
        });
        });
    }

    initial_chart_for_state("CA");


</script>


{% endblock %}
