{% extends "base.html" %}

{% block title %}WattTime: Terms of Service{% endblock %}

{% block content %}

<div>
<h1>Terms of Service</h1>
</br>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Any person accessing this website or participating in the accompanying text message notification system (“users”), by so doing, indicates acceptance of the following Agreement. WattTime team members reserve the right, at their sole discretion, to modify or replace any part of this Agreement at any time.</h4>
  </div>
  <div class="panel-body">
  
  <p><strong>Please note:</strong> WattTime is not an incorporated entity, it’s currently just a project by several individuals collaborating on their own time to test a concept for personal use. Particularly if the project proceeds to incorporation and/or commercialization, the following terms will almost certainly change. Should these terms change, WattTime team members will attempt to notify in a timely manner any active users for whom we have contact information. But we cannot offer any guarantee that we will do so.</p>
 <br><br>
<h3>Use of Personal Data</h3>
<p>WattTime collects personal data in the form of contact information, settings, and answers to surveys or text messages. All of WattTime’s personal data collection is clearly indicated as such. WattTime team members agree not to pass on personally identifiable data to third parties without written permission, but may share aggregated and anonymized data such as survey responses. WattTime may employ cookies to process these personal data. Users have the ability to decline cookies by modifying their browsers.</p>
</br>

<h3>Use of External Data</h3>
<p>WattTime makes use of continuous feeds of external data. WattTime team members have no control over these data, and cannot review all of these data. Use of WattTime does not transfer to users any intellectual property over these or any other data.</p>
</br>

<h3No Commercial Use</h3>
<p>Users agree not to use WattTime for commercial use.</p>
</br>

<h3>No Warranty Implied</h3>
<p>This informational service is provided “as is”. WattTime team members are unable to offer any warranty, express or implied, that this service will be error-free, uninterrupted, or suitable for any given purpose. It is subject to change or termination without notice. No representation or warranty is made by any party about the accuracy, reliability, completeness, date, or timeliness of the content. </p>
</br>

<h3>Indemnification</h3>
<p>Users agree to indemnify and hold harmless the team members of WattTime from any and all claims and expenses, including attorneys’ fees, arising out of users’ use of the service. Team members shall have no liability for any failure or delay due to matters beyond their reasonable control.</p>
</br>

<h3>Free Exit</h3>
<p>Users are free to unsubscribe at any time. WattTime team members will make reasonable efforts to ensure that unsubscriptions are implemented immediately, but can not guarantee the speed of unsubscription.</p>


 </div>
</div>
{% endblock %}
