{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime: Why It Works{% endblock %}

{% block content %}
<div>
<h1>Why it Works</h1>
</br>
</div>

<div class="panel panel-default">
    	<div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Techniques in Action Today
                </h2>
                <p>
                    Using WattTime, electricity consumers can optimize their electricity use to promote the development of cleaner energy
                    sources while lowering greenhouse gas emissions.
                </p>
            </div>
        </div>
        <hr>
    	<div class="col-md-6">
            <h3>Percent Clean Energy</h3>
            <p>
                WattTime shows people how much of their region's electricity comes 
                from clean and renewable sources. This can help shift demand towards
                sustainable fuel sources. 

            </p>            
        </div> 
         
        <div class="col-md-6">
            <h3>Marginal Fuel</h3>
            <p>
                With the ability to see current marginal fuel sources in their region, 
                electricity consumers can shift their demand as they like towards more renewable
                fuels such as hydropower and biomass away from dirty sources such as coal and oil. (Currently
                implemented in New England only; additional regions coming soon).

            </p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Coming soon
                </h2>
                <p>
                    By combining open data with Renewables Integration Response analytics, WattTime is working to equip
                    anyone who wants them with powerful, real-time economic instruments that increase renewable power 
                    competitiveness and reduce system emissions without reducing power availability.
                    (These are currently under development by
                    <a href="{% url 'about-us' %}">our crack team</a> of economists and data analysts from UC Berkeley and elsewhere.)
                </p>
            </div>
        </div>
        <hr>
        <div class="col-md-6">
            <h3>Reducing Curtailment</h3>
            <p>
                By taking advantage of periods of wind power oversupply, electricity customers in 
                select locations will be able to reduce indirect emissions by up to 100% at optimal times.

            </p>            
        </div>  
        <div class="col-md-6">
            <h3>Renewables Intermittency</h3>
            <p>
                Device automation allows for fine-grained energy response timing. 
    			It can leverage minor spikes in the availability of renewable energy to 
                help make renewable energy more competitive with fossil fuel-powered plants like coal.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Reducing Ramping</h3>
            <p>
                With automation, users can even reduce pollution from traditional fossil power
                plants by allowing them to reduce wasteful episodes of turning up and down
                repeatedly.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Forecast Insurance</h3>
            <p>
                Energy experts know that high-quality forecasts can help integrate renewable 
                energy and let the most efficient plants operate. But what if instead of just 
                improving forecasts, you could help them come true? WattTime monitors the grid 
                for situations where shifting load to match the forecast would help grid operators 
                select cleaner power plants.

            </p>
        </div>
    </div>

</div>


{% include "base_snippets/footer_tactics.html" %}

{% endblock %}
