{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WattTime: Why It Works{% endblock %}

{% block content %}
<div class="page-header">
<h2>Why it works</h2>
</br>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Techniques in Action Today</h3>
        <p>
            Using WattTime, electricity consumers can optimize their electricity use to promote the development of cleaner energy
            sources while lowering greenhouse gas emissions.
        </p>
    </div>
    	<div class="panel-body">
    	<div class="col-md-6">
            <h3 class="text-center">Percent Clean Energy</h3>
            <p class="text-info">
                WattTime shows people how much of their region's electricity comes 
                from clean and renewable sources. This is one of the most effective ways to shift demand towards
                economically sustainable fuel sources. 

            </p>            
        </div> 
         
        <div class="col-md-6">
            <h3 class="text-center">Marginal Fuel</h3>
            <p class="text-info">
                With the ability to see current marginal fuel sources in their region, 
                electricity consumers can shift their demand as they like towards more renewable
                fuels such as hydropower and biomass away from dirty sources such as coal and oil. (Currently
                implemented in New England only; additional regions coming soon).

            </p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Coming soon</h3>
        <p>
            By combining open data with our Renewables Integration Response analytics, WattTime is working to equip
            ordinary people with powerful, real-time economic instruments that increase renewable power 
            competitiveness and reduce system emissions without reducing power availability.
            (These are currently under development by
            our crack team of economists and data analysts from UC Berkeley, MIT, and the

        </p>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <h3 class="text-center">Curtailment</h3>
            <p class="text-info">
                By exploiting wind power oversupply, electricity customers in select locations will be
                able to reduce indirect emissions by up to 100% at optimal times.

            </p>            
        </div>  
        <div class="col-md-6">
            <h3 class="text-center">Renewable Intermittency</h3>
            <p class="text-info">
                Device automation allows for fine-grained energy response timing. 
    			It can leverage minor spikes in the availability of renewable energy and 
                help make renewable energy more competitive with fossil fuel-powered plants like coal.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Reduced Ramping</h3>
            <p class="text-info">
                With automation, users can even reduce pollution from traditional power
                plants by allowing them to reduce wasteful episodes of turning up and down
                repeatedly.
                <a href="http://pubs.acs.org/doi/abs/10.1021/es801437">Some estimates</a>
                suggest this technique can reduce power plant emissions by up to 25%.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Forecast Insurance</h3>
            <p class="text-info">
                WattTime's Renewables Integration Response tools can help offset the difference between actual wind power
                plant production and wind power forecasts by moderating consumer demand during the most valuable moments. This increases grid stability and paves the way for renewables to 
                compete on equal footing in capacity markets.

            </p>
        </div>
    </div>

    <div class="panel-footer">
        Are you interested in supporting any of WattTime's work? Get in touch!
    </div>
</div>

{% endblock %}
