{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %} " />


    <title>Windshed</title>
    {% include "base_snippets/head_scripts.html" %}

    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  </head>

  <body>

    <div class="container">
<div class="page-header">
  <h1><span class="glyphicon glyphicon-flash"></span>Welcome to Windshed. <small>Windshed uses the power of networks to identify municipal locales and consumer regions where Renewable Integration Response programs can positively impact the financial viability of renewable wind energy.</h1>
    <p><em>From the team at <a href="http://watttime.com">WattTime</a>. <a href="mailto:watttime.app@gmail.com">Say hello!</a></em></p>
</div>

        <ul class="nav nav-tabs nav-justified" id="windTab">
          <li class="active"><a href="#network" data-toggle="tab">Congested Grids</a></li>
          <li><a href="#wasted" data-toggle="tab">Wasted Wind</a></li>
          <li><a href="#human" data-toggle="tab">Human Potential</a></li>
          <li><a href="#future" data-toggle="tab">Future Windsheds</a></li>
        </ul>
      

 <!-- Tab panes -->
<div class="tab-content">
  
  <div class="tab-pane active" id="network"><br><br><h1>Congested Grids: <span class="text-warning">aging network infrastructure</span></h1>        
<iframe width='100%' height='600' frameborder='0' src='http://wri-01.cartodb.com/viz/c91e9d9e-4859-11e3-b7f3-c8600054c0d1/embed_map?title=false&description=false&search=false&shareable=true&cartodb_logo=false&layer_selector=false&legends=false&scrollwheel=false&sublayer_options=1%7C1&sql=&sw_lat=40.82874832242699&sw_lon=-77.13741302490234&ne_lat=46.428747120039525&ne_lon=-60.372276306152344'></iframe>
  
</div>
  
  <div class="tab-pane" id="wasted"><br><br><h1>Wasted Wind: <span class="text-success">timing matters</span></h1>        
<iframe width='100%' height='600' frameborder='0' src='http://wri-01.cartodb.com/viz/27d3f694-4892-11e3-9c14-c8600054c0d1/embed_map?title=false&description=false&search=false&shareable=true&cartodb_logo=false&layer_selector=false&legends=false&scrollwheel=false&sublayer_options=1%7C1%7C1&sql=&sw_lat=40.713955826286075&sw_lon=-78.145751953125&ne_lat=46.32417161725694&ne_lon=-61.380615234375'></iframe>
  
</div> 
  
  
  <div class="tab-pane" id="human"><br><br><h1>Practical People: <span class="text-info">local communities can help</span></h1>        
<iframe width='100%' height='600' frameborder='0' src='http://wri-01.cartodb.com/viz/8c277bfa-488a-11e3-9d47-c8600054c0d1/embed_map?title=false&description=false&search=false&shareable=true&cartodb_logo=false&layer_selector=false&legends=false&scrollwheel=false&sublayer_options=1%7C1%7C1&sql=&sw_lat=41.47977575214486&sw_lon=-78.662109375&ne_lat=47.02146130911727&ne_lon=-61.89697265625'></iframe></div> 
  
  <div class="tab-pane" id="future"><br><br><h1>Future Windsheds: <span class="text-danger">collective action potential</span></h1>        
<iframe width='100%' height='600' frameborder='0' src='http://wri-01.cartodb.com/viz/43096d2a-488a-11e3-babf-c8600054c0d1/embed_map?title=false&description=false&search=false&shareable=true&cartodb_logo=false&layer_selector=false&legends=false&scrollwheel=false&sublayer_options=1%7C1&sql=&sw_lat=41.166249339092026&sw_lon=-77.9205322265625&ne_lat=46.73609593770123&ne_lon=-61.1553955078125'></iframe></div>
    
    
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Smart Grid Intelligence</h2>
          <p>Sustainability programs managers often make difficult decisions about where they should invest in incentives for smart grid technology adoption. Demand response devices like thermostats, smart plugs, and electric vehicle chargers can pay for themselves by improving the market demand for wind energy.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Climate Committed</h2>
          <p>Windshed maps the best locations for smart grid technology adoption and incentive programs by showing where intelligent electricity timing can stimulate high impact economic incentives for wind energy. This has the added co-benefit of reducing CO2 and other greenhouse gasses.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Network Prowess</h2>
          <p>To accomplish this feat, Windshed creates the network analytics necessary for leveraging electricity consumers as a "network bridge" between the legacy electricity grid and emerging wind power generation stations. As part of a Renewable Integration Response program, Windshed helps consumers expand their electricity supply options while helping wind farm and electricity grid operators span infrastructure gaps and balance the weak ties of costly and wasteful network congestion with excess wind farm production.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      
    </div> <!-- /container -->

<br><br><br>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
