{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Windshed uses the power of networks to identify communities where Renewable Integration Response programs can reduce energy waste and positively impact the financial viability of renewable wind energy.">
    <meta name="author" content="http://www.watttime.com">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %} " />


    <title>Windshed</title>
    {% include "base_snippets/head_scripts.html" %}

    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  </head>

  <style>
      .carousel-control.left, .carousel-control.right {
          background-image: none
      }
      iframe {
          display: block;
          margin: 10px auto 10px auto;
      }
  </style>

  <body>

    <div class="container">
        <div class="page-header">
          <h1>WINDSHED<br>
          <small>
              <span style="color:#99ccff">smart energy</span> + <span style="color:#cccc00">smart devices</span> + <span style="color:#66cc66">smart investments</span> = smart communities and a cleaner world
          </small></h1>
        </div>
		
	

        <div class="panel">

         <ul class="nav nav-tabs nav-justified" id="windTab">
          <li class="active"><a href="#video" data-toggle="tab"><h2>Watch</h2></a></li>
          <li><a href="#slides" data-toggle="tab"><h2>Explore</h2></a></li>
        </ul>

        <div class="tab-content">

        <div class="tab-pane active" id="video">
		<iframe width="853" height="480" src="//www.youtube.com/embed/j-qhGeoyaBk?rel=0" frameborder="0" allowfullscreen></iframe>        </div>
        <div class="tab-pane" id="slides">
        <div class="carousel slide" data-ride="carousel" id="windshed-carousel">

              <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#windshed-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#windshed-carousel" data-slide-to="1"></li>
              <li data-target="#windshed-carousel" data-slide-to="2"></li>
              <li data-target="#windshed-carousel" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">

                <div class="item active">
                   
                    <iframe width='100%' height='600' frameborder='0' src='http://wri-01.cartodb.com/viz/27d3f694-4892-11e3-9c14-c8600054c0d1/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=false&layer_selector=false&legends=true&scrollwheel=false&sublayer_options=1%7C0%7C1&sql=&sw_lat=40.713955826286075&sw_lon=-78.145751953125&ne_lat=46.32417161725694&ne_lon=-61.380615234375'></iframe>
                </div>

                <div class="item">
                  
                    <iframe width='100%' height='600' frameborder='0' src='http://wri-01.cartodb.com/viz/16d28590-499b-11e3-8792-c8600054c0d1/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=false&layer_selector=false&legends=true&scrollwheel=false&sublayer_options=1%7C1%7C1&sql=&sw_lat=40.713955826286075&sw_lon=-78.145751953125&ne_lat=46.32417161725694&ne_lon=-61.380615234375'></iframe>
                </div>

                <div class="item">
                  <
                  <iframe width='100%' height='600' frameborder='0' src='http://wri-01.cartodb.com/viz/8c277bfa-488a-11e3-9d47-c8600054c0d1/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=false&layer_selector=false&legends=true&scrollwheel=false&sublayer_options=1%7C1%7C1&sql=&sw_lat=40.713955826286075&sw_lon=-78.145751953125&ne_lat=46.32417161725694&ne_lon=-61.380615234375'></iframe>
                </div>

                <div class="item">
                  
                  <iframe width='100%' height='600' frameborder='0' src='http://wri-01.cartodb.com/viz/43096d2a-488a-11e3-babf-c8600054c0d1/embed_map?title=false&description=false&search=false&shareable=false&cartodb_logo=false&layer_selector=false&legends=true&scrollwheel=false&sublayer_options=1%7C1&sql=&sw_lat=40.713955826286075&sw_lon=-78.145751953125&ne_lat=46.32417161725694&ne_lon=-61.380615234375'></iframe>
                </div>

            </div> <!-- end carousel inner -->

            <!-- Controls -->
            <a class="left carousel-control" href="#windshed-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#windshed-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

        </div> <!-- end carousel -->
        </div> <!-- end panel -->
        </div> <!-- end tabs -->
        <br><br><br>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Smart Grid Intelligence</h2>
          <p>Sustainability programs managers often make difficult decisions about where they should invest in incentives for smart grid technology adoption. Demand response devices like thermostats, smart plugs, and electric vehicle chargers can pay for themselves by nudging market demand to take advantage of surplus wind.</p>
        </div>
        <div class="col-lg-4">
          <h2>Climate Committed</h2>
          <p>Windshed maps the best locations for smart grid technology adoption and incentive programs by showing where intelligent electricity timing can stimulate high impact economic incentives for wind energy. This has the added co-benefit of reducing CO2 and other greenhouse gasses.</p>
       </div>
        <div class="col-lg-4">
          <h2>Network Prowess</h2>
          <p>To accomplish this feat, Windshed creates the network analytics necessary for leveraging electricity consumers as a "network bridge" between the legacy electricity grid and emerging wind power generation stations. As part of a Renewable Integration Response program, Windshed helps consumers make a difference while helping wind farm and electricity grid operators fight costly and wasteful network congestion with excess wind farm production.</p>
        </div>
      </div>
      <br><br><br>
      	<div class="well">
      	<p class="lead text-warning"><em><a href="http://www.watttime.com"><img src="http://www.watttime.com/static/images/WattTimeWhiteWordLogo.png"></a>
            <span style="position:relative; top:10px">Built for the <a href="http://2013-sf.bsr.org/en/hackathon">BSR Hackathon 2013</a>
            by the team at <a href="http://watttime.com">WattTime</a>:  
            <a href="http://twitter.com/WattTime">Gavin</a>,
            <a href="http://twitter.com/robinkraft">Robin</a>,
            <a href="http://twitter.com/gharp">Gabe</a>, and
            <a href="http://twitter.com/windupanna">Anna</a></span>     
          </p></em></div>
          
          
     
   
    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script text="text/javascript">
      $(document).ready(function(){
          $('.carousel').carousel({
              interval: 6000
              pause: "hover"
          });
      });
  </script>
  </body>
</html>
