{% load comments i18n %}
{% load staticfiles %}
<article id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %} panel panel-default">
  {% block entry-header %}
  <div class="entry-header panel-heading">
    {% block entry-title %}
    <h3 class="entry-title">
      <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
        {{ object.title }}
      </a>
    </h3>
    {% endblock entry-title %}
    {% block entry-info %}
        {% for author in object.authors.all %}
          <a href="{{ author.get_absolute_url }}" class="btn btn-default btn-xs fn url{% if not author.get_full_name %} nickname{% endif %}" rel="author"
                 title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">
            <span class="glyphicon glyphicon-user"></span> {{ author }}
          </a>
        {% endfor %}

        <a class="btn btn-default btn-xs" href="{% url 'zinnia_entry_archive_day' object.creation_date|date:"Y" object.creation_date|date:"m" object.creation_date|date:"d"%}">
          <span class="glyphicon glyphicon-time"></span>
          <time class="published" datetime="{{ object.creation_date|date:"c" }}" pubdate="pubdate">{{ object.creation_date|date:"DATE_FORMAT" }}</time>
        </a>

        {% for category in object.categories.all %}
          <a href="{{ category.get_absolute_url }}"
           title="{% blocktrans %}Show all entries in {{ category }}{% endblocktrans %}"
           rel="tag category" class="btn btn-default btn-xs">
           <span class="glyphicon glyphicon-th-large"></span> {{ category }}
         </a>
        {% endfor %}

        {% for tag in object.tags_list %}
          <a href="{% url 'zinnia_tag_detail' tag %}"
             title="{% blocktrans %}Show all entries tagged by {{ tag }}{% endblocktrans %}"
             class="btn btn-default btn-xs">
             <span class="glyphicon glyphicon-tag"></span> {{ tag }}
          </a>
        {% endfor %}
    {% endblock entry-info %}
  </div>
  {% endblock entry-header %}



  {% block entry-body %}
  <div class="entry-body panel-body">
    {% block entry-image %}
    {% if object.image %}
    <div class="entry-image">
      <p>
        {% if continue_reading %}
        <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
          {% endif %}
          <img src="{{ object.image.url }}" alt="{{ object.title }}" class="img-thumbnail img-responsive" />
          {% if continue_reading %}
        </a>
        {% endif %}
      </p>
    </div>
    {% endif %}
    {% endblock entry-image %}
    {% block entry-content %}
    <div class="entry-content">
      {{ object_content|safe }}
    </div>
    {% endblock entry-content %}
    {% block continue-reading %}
    {% if continue_reading and object_content.has_more %}
    <p class="continue-reading">
      <a href="{{ object.get_absolute_url }}"
         title="{% blocktrans with object=object.title %}Continue reading {{ object }}{% endblocktrans %}"
         rel="bookmark" class="btn btn-default">
        {% trans "Continue reading" %}
      </a>
    </p>
    {% endif %}
    {% endblock continue-reading %}
  </div>
  {% endblock entry-body %}

  {% block entry-footer %}
  {% endblock entry-footer %}
</article>
