{% extends "zinnia/base.html" %}
{% load i18n mptt_tags %}

{% block meta-description %}{% trans "Category list" %}{% endblock meta-description %}

{% block title %}{% trans "Categories" %}{% endblock title %}

{% block body-class %}category-list{% endblock body-class %}

{% block content %}
<div class="panel panel-default">

  <div class="panel-heading">
    <h4>{% trans "Categories" %}</h4>
  </div>

  <ul class="category-root list-group">
    {% recursetree object_list %}
    <a class="list-group-item" href="{{node.get_absolute_url}}"
         title="{% blocktrans with category=node %}Show all {{ author }}'s entries{% endblocktrans %}">

      {{ node }}
      <span class="badge">
        {% blocktrans count entry_count=node.entries_published.count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}
      </span>

      {% if node.description %}<p>{{ node.description|striptags|safe }}</p>{% endif %}

      {% if not node.is_leaf_node %}
      <ul class="category-children category-{{ node.slug }}">
        {{ children }}
      </ul>
      {% endif %}

    </a>
    {% endrecursetree %}

    {% if not object_list %}
    <li class="list-group-item">
      {% trans "No categories yet." %}
    </li>
    {% endif %}
  </ul>

</div>
{% endblock content %}
