{% load i18n staticfiles %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>WattTime Blog: {% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="home" href="{% url 'zinnia_entry_archive_index' %}" />
    {% include "base_snippets/head_links.html" %}

    <style type="text/css">
      body {
        background: #99DFF9;
      }
      body > nav img {
        margin-top: 5px;
        margin-left: 10px;
      }
      p.entry-discussions {
        margin-bottom: 0px;
      }
    </style>
    <!--[if lt IE 9]>
        <script src="{% static "zinnia_bootstrap/assets/js/html5shiv.js" %}"></script>
        <script src="{% static "zinnia_bootstrap/assets/js/respond.min.js" %}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>
  <body class="zinnia {% block body-class %}{% endblock body-class %}">

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=411609345605022";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{% static "images/WattTimeWhiteWordLogo.png" %}" class="pull-left" alt="WattTime Blog" />
          <a href="{% url 'zinnia_entry_archive_index' %}" title="WattTime Blog" class="navbar-brand" rel="home">
            <h1>Blog</h1>
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <form method="get" action="{% url 'zinnia_entry_search' %}" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="search-query form-control" placeholder="{% trans 'Search' %}" name="pattern" value="{{ pattern }}" />
            </div>
            <button type="submit" name="submit" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            {% url 'zinnia_sitemap' as sitemap_url %}
            <li {% if sitemap in request.path %}class="active"{% endif %}>
            <li>
              <a href="{{ sitemap_url }}" title="{% trans "Sitemap" %}" class="sitemap">
                {% trans "Sitemap" %}
              </a>
            </li>
            <li class="divider-vertical"></li>
            <li>
              <a href="{% url 'zinnia_entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds">
                {% trans "RSS Feed" %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block slider %}{% endblock %}
    <div class="container">
      <div class="row">
        <div id="content" class="hfeed col-xs-12 col-sm-8 col-md-8 col-lg-8">
          {% block breadcrumbs %}{% endblock %}
          <div class="panel panel-default">
              <div class="container">
          {% block content %}
          <div class="links">
            <h3>{% trans "Useful links" %}</h3>
            <ul>
              <li>
                <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Blog index" %}">
                  {% trans "Blog index" %}
                </a>
              </li>
              <li>
                <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
                  {% trans "Sitemap" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="search">
            <h3>{% trans "Search" %}</h3>
            {% include "zinnia/tags/search_form.html" %}
          </div>
          {% endblock content %}
          </div></div>
        </div>
        <div id="sidebar" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
      </div>
    </div>
    {% include "base_snippets/footer.html" %}
	{% include "base_snippets/head_scripts.html" %}
  </body>
</html>
