{% extends "zinnia/base.html" %}
{% load i18n %}

{% block meta-description %}{% trans "Tag list" %}{% endblock meta-description %}

{% block title %}{% trans "Tags" %}{% endblock title %}

{% block body-class %}tag-list{% endblock body-class %}


{% block content %}
<div class="panel panel-default">

  <div class="panel-heading">
    <h4>{% trans "Tags" %}</h4>
  </div>

  <ul class="list-group">
    {% for object in object_list %}
    <a class="list-group-item" href="{% url 'zinnia_tag_detail' object %}"
         title="{% blocktrans with tag=object %}Show all entries tagged by {{ tag }}{% endblocktrans %}">{{ object }}
      <span class="badge">
        {% blocktrans count entry_count=object.count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}
      </span>
    </a>
    {% empty %}
    <li>
      {% trans "No tags yet." %}
    </li>
    {% endfor %}
  </ul>

</div>
{% endblock content %}
