{% extends "base.html" %}

{% block title %}WattTime Shift{% endblock %}

{% block content %}
<h2>Shift Your Energy</h2>

<p class="lead">
    When is the cleanest time tonight to charge your electric car?
    How about when to run your dishwasher or clothes dryer?
    If you're in California, we can tell you!
</p>


<form action="{% url 'shift' %}" class="form-horizontal" method="post">{% csrf_token %}
    <div class="lead text-success">
        I want to use energy for <div class="controls">{{ form.usage_hours }}</div>
        hours out of the next <div class="controls">{{ form.time_range_hours }}</div>
        hours.
    </div>
    <input type="submit" class="btn btn-success" value="Go!" />
</form>

{% if best_green %}
    <p class="lead text-info">
        You should use energy between {{ best_start }} and {{ best_end }}.
        The California grid will be {{ best_green }}% clean then!
    </p>
{% endif %}

{% endblock %}
