/* sean's additions */

html, body {
	height: 100%;
}

.slogan {
    font-family: "Pacifico", cursive;
	font-size:40px;
	color:#fff;
	text-align:center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    margin-bottom:40px;
}

.current {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight:900;
	color:#fff;
	font-size:55px;
	line-height: 60px;
	margin-bottom:30px;
	text-align:center;
}

.circle_links {
    width: 530px;
    margin-left: auto;
    margin-right: auto;
}
.circles {
    background: url(../images/circles.png);
    width:175px;
    height:175px;
}
.tools {background-position: 0 -2px}
.tools:hover {background-position: 0 -172px;}
.tactics {background-position: -175px -2px;}
.tactics:hover {background-position: -175px -172px;}
.teams {background-position: -350px -2px;}
.teams:hover {background-position: -350px -172px;}

.gray_bar{
    background-color:#F5F5F5;
    width:100%;
    height:200px;
    margin-top:50px;
}

.header_shadow {
    text-shadow: 1px 1px 0px rgba(155, 155, 155, 1);
}

.content {
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

.content_background {
    background-color:#ffffff;
}

.divider {
    width:100%;
    border-bottom:1px solid #b3b3b3;
    margin:30px 0 0 0;
}

.haiku {
    font-family: "Pacifico", cursive;
	font-size:15px;
	text-align:center;
    width:175px;
}

.subsections{
    width:700px;
    padding:40px 0px 0px 10px;
}

.subheaders {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight:900;
	font-size:50px;
	line-height: 50px;
	margin-bottom:10px;
}

.subcontent {
    margin-left:65px;
}

.icon {
    background-color:#8DC63F;
    width:50px;
    height:50px;
    margin-right:10px;
}

.center {text-align:center;}
.green {color:#8DC63F;}
.yellow {color:#FFDE17;}
.blue {color:#99DFF9;}

/* end sean's additions */
/* styles for body text & background*/

body{
    background: url(../images/home-bg.jpg) no-repeat;
	background-size:cover;
	background-position: 100% top;
	background-color: #FFD600;
	font-family:Helvetica, Arial, sans-serif;
	color:#7f7f7f;
}

body a{
	color:#66cc99;
	text-decoration:none;
}
body strong{
	font-weight: bold;
}
body a:hover{
	color:#2FC9E5;
	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
	transition: color 200ms linear;
}


/*removes bullets on radio and checkboxes; may have unintended effects on other ul styles*/

/* For some reason, using bare "ul { ... }" here caused heroku to stop serving any static
 * files, so I have changed this to only apply to lists with the class 'profile-edit'. -ems */

.profile-edit ul {
	list-style-type:none;
}


/*special navbar style*/

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #33cc99;
}

.navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #33cc99;
  *background-color: #33cc99;
  background-image: -moz-linear-gradient(top, #33cc99, #339999);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33cc99), to(#339999));
  background-image: -webkit-linear-gradient(top, #339999, #33cc99);
  background-image: -o-linear-gradient(top, #33cc99, #339999);
  background-image: linear-gradient(to bottom, #33cc99, #339999);
  background-repeat: repeat-x;
  border-color: #339999 #339999 #fff;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff33', endColorstr='#ff339999', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #339999;
  *background-color: #33cc99;
}

.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active {
  background-color: #33cc99 \9;
}

.navbar-inverse .nav-collapse .nav > li > a {
    color: #fff;
  }

  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #33cc99;
  }

  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #33cc99;
  }


.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #33cc99;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}


/* a special button style */
.btn-awesome.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-awesome {
   color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #33cc99;
  *background-color: #33cc99;
  background-image: -moz-linear-gradient(top, #33cc99, #339999);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33cc99), to(#339999));
  background-image: -webkit-linear-gradient(top, #339999, #33cc99);
  background-image: -o-linear-gradient(top, #33cc99, #339999);
  background-image: linear-gradient(to bottom, #33cc99, #339999);
  background-repeat: repeat-x;
  border-color: #339999 #339999 #fff;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff33', endColorstr='#ff339999', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-awesome:hover,
.btn-awesome:focus,
.btn-awesome:active,
.btn-awesome.active,
.btn-awesome.disabled,
.btn-awesome[disabled] {
   color: #ffffff;
  background-color: #339999;
  *background-color: #33cc99;
}

.btn-awesome:active,
.btn-awesome.active {
  background-color: #33cc99 \9;
}

.btn-awesome.dropdown-toggle {
  background-color: #33cc99;
}

.btn-awesome .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}




/* this is the style for selected text*/
::selection {
	background: #33c99; /* Safari */
	color:#fff;
	}
::-moz-selection {
	background: #33cc99; /* Firefox */
	color:#fff;
}

/*this centers the main content*/
.page-container{
	margin:50px auto 0px;
}

/* this sets the height for the content container*/
.home-container{
}


/* style for photo credit link*/

.photo-wrap{
	position:relative;
}
.photo-wrap .photo-credit{
	position:absolute;
	right:10px;
	bottom:10px;
	text-align:right;
	opacity:0.5;

}
.photo-wrap .photo-credit a{
	color:#fff;
	opacity:0.5;
	text-decoration:none;
}
.photo-wrap .photo-credit a:hover{
	opacity:1;
}


/* fb and twitter buttons

.top-nav .fb-like{
	float:left;
	position:relative;
	top:7px;
	margin-right:12px;
}
.top-nav .twitter-follow-button
{
	float:left;
	position:relative;
	top:7px;
	margin-right:10px;
}

.social-buttons{
	margin-top:20px;
	float:left;
	width:100%;
}
.social-buttons .fb-like{
		position:relative;
		top:-3px;
}
.top-nav .like-us{
	float:right;
	position:relative;
	top:7px;
	font-family:"Pacifico", Cursive;
	color:#fff;
	font-size:21px;
	margin-right:15px;
}

*/

/* for making navbar transparent */
.navbar-inner{
    background:transparent !important;
    border-color: transparent !important;
    }
.navbar-inner container{
    background:transparent !important;
        border-color: transparent !important;
    }
.navbar{
    background:transparent !important;
        border-color: transparent !important;
    }
.navbar .nav {
  margin-top: 20px;
}
.navbar .btn {
  margin-top: 20px;
}

/* styles for main feature text */

.header-main h1, .call-to-action h1, .uh-oh h1, .header-main-phone h1{
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight:900;
	color:#fff;
	font-size:55px;
	line-height: 60px;
	margin-bottom:30px;
	text-align:center;

}
.header-main h2, .call-to-action h2, .uh-oh h2, .header-main-phone h2{
	font-family: "Pacifico", cursive;
	font-size:40px;
	color:#fff;
	margin-top:20px;
	text-align:center;
	margin:0px auto;
	width:100%;
	text-align:center;
	background:url(../images/line-white-gap.gif) no-repeat center center;
}

.header-main h4, .header-main-phone h4{
	font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-weight:400;
	color:#fff;
	font-size:21px;
	margin-bottom:0px;
	padding-top:10px;
}

.header-main p, .header-main-phone p{
	color:#fff;
	margin-top:40px;
	margin-bottom:20px;
	text-align:left;

}
.header-main-phone{
	text-align:center;
}


/* charts */



/* icons */
i.icon{
	background:url(../images/sprite-icons.png) no-repeat top left;
	float:left;
	display:block;
	height:13px;
	margin-right:5px;
}
i.icon.icon-mail{
	background-position: 0px 0px;
	width:16px;
}
i.icon.icon-blog{
	background-position: -16px 0px;
	width:10px;
}
i.icon.icon-dropdown{
	background-position: -26px 0px;
	width:13px;
	float:right;
	margin-left:10px;
}
i.arrow{
	background:url(../images/sprite-arrows.png) no-repeat top left!important;
	height:15px;
	margin-left:20px;
	display:inline-block;
}
i.arrow.arrow-down{
	width:15px;
	background-position:-8px 0px!important;
}
i.arrow.arrow-up{
	width:15px;
	background-position:-23px 0px!important;
}
i.share-icon{
	background:url(../images/sprite-social-buttons.png) no-repeat top left;
	float:left;
	display:block;
	height:23px;
	margin-right:5px;
}
i.share-twitter{
	width:24px;
	background-position:0px 0px!important;
}
i.share-facebook{
	width:26px;
	background-position:-24px 0px!important;
}
.icon-features{
	background:url(../images/clock.png) no-repeat;
	height:40px;
	display:block;
	margin:0px auto;
	width:41px;
}
.icon-brush{
}
.icon-gear{
	background-position:-41px 0px;
	width:40px;
}
.icon-heart{
	background-position:-81px 0px;
	width:40px;
}
.icon-features-mini{
	background:url(../images/sprite-feature-icons.png) no-repeat;
	display:block;
	height:38px;
	margin:0px auto;
}
.icon-features-mini.icon-lock{
	width:23px;
}
.icon-features-mini.icon-workflow{
	width:53px;
	background-position:-23px 0px;
}
.icon-features-mini.icon-demo{
	width:22px;
	background-position:-76px 0px;
}
.icon-features-mini.icon-income{
	width:52px;
	background-position:-98px 0px;
}
.icon-features-mini.icon-speed{
	width:50px;
	background-position:-150px 0px;
}
.icon-features-mini.icon-cache{
	width:75px;
	background-position:-200px 0px;
}
.icon-features-mini.icon-hack{
	width:36px;
	background-position:-275px 0px;
}
.icon-features-mini.icon-backup{
	width:46px;
	background-position:-311px 0px;
}
.icon-features-mini.icon-funky{
	width:46px;
	background-position:-357px 0px;
}
.icon-features-mini.icon-medal{
	width:31px;
	background-position:-403px 0px;
}
.icon-features-mini.icon-support{
	width:40px;
	background-position:-434px 0px;
}
.icon-features-mini.icon-fpo{
	width:60px;
	background-position:-474px 0px;
}
.icon-features-mini.icon-road{
	width:53px;
	background-position:-534px 0px;
}
.icon-features-mini.icon-smile{
	background-position: -587px 0;
	width: 36px;
}



/* watttime form */
.errorlist {
	color:#999933;
	list-style-type:none;

}

/*
label {
	opacity:1;
	color:#fff;

}
*/

.textarea, input {
	outline: none;

}


.sign-up-form{
	margin-top:5px;
	margin-bottom:5px;
	position:relative;
}
/*.sign-up-form label.error{
	position:absolute;
	left:50%;
	width:180px;
	text-align:left;
	color:#fff;
	top:43px;
} */

.sign-up-form .watermark{
	left:10px;
}

.watermark_container{
	display:inline!important;
}
.watermark_container .watermark{
	top:-22px!important;
}
#commentform .watermark_container .watermark{
	top:-52px!important;
}
#form-section-comment .watermark_container .watermark{
	top:-92px!important;
}
.comments-textarea .watermark_container .watermark{
	top:-62px!important;
}
.down-tab, .blog-tab{
	width:100%;
	display:block;
	background:url(../images/bg-tab.png) no-repeat center;
	height:34px;
	color:#fff;
	font-family:"Source Sans Pro", sans-serif;
	text-align:center;
	text-decoration:none;
	font-weight:700;
	font-size:19px;
	padding-top:10px;
}
.down-tab i{
	position:relative;
	top:2px;
}
.down-tab:hover{
	color:#fff!important;
}
/* features */
.full-width-features{
	text-align:center;
}
h4.icon-line{
	width:100%;
	text-align:center;
	background:url(../images/line-gray.gif) no-repeat center center;
	margin-bottom:50px;
}
h4.icon-line span{
	padding:0px 20px;
	background:url(../images/site-bg.png);
	margin:0px auto;
	display:block;
	width:80px;
	text-align:center;
}
.feature-2 .icon-line span{
	background:url(../images/site-bg2.png) no-repeat;
}
.full-width-features .fly-wheel{
	margin:50px 0px 70px;
}
.full-width-features, .full-width-blog{
	background:url(../images/site-bg.png);
	padding:50px 0px;
}
.full-width-features.feature-1{
	padding-bottom:120px;
}
.full-width-features.feature-2{
	background:url(../images/site-bg2.png);
	padding:130px 0px 150px;
}
.full-width-features.feature-3{
	padding:130px 0px 150px;
}
.full-width-features .container, .full-width-blog .container{
	 margin-top:20px;
	 margin:0px auto;
}
.full-width-features h1, .flywheel-modal h3, .full-width-blog h1{
	font-family:"Source Sans Pro", sans-serif;
	font-weight:200;
	color:#339999;
	text-align:center;
	font-size:44px;
	margin-top:0px;
	margin-bottom:80px;
}
.full-width-features h1{
	margin-bottom:10px;
}
.full-width-features h2, .full-width-blog h4{
	color:#666;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:200;
	font-size:28px;
	margin-bottom:15px;
}
.full-width-features h2{
	font-size:24px;
	line-height:31px;
	margin-bottom:50px;
}
.full-width-features h3{
	color:#7f7f7f;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:300;
	font-size:21px;
	line-height:25px;

	margin-bottom:10px;
	margin-top:30px;
}
.full-width-features p{
	font-size:13px;
	line-height:20px;
}
.full-width-features .span6 p{
	font-size:13px;
	color:#666;
	line-height:21px;
}
.full-width-features .features-wrap{
	margin-bottom:50px;
}

/* call to action at bottom after features*/

.call-to-action{
	margin:0px auto;
	text-align:center;
	padding:80px 0px;
}
.call-to-action h2{
	background:none;
}
.call-to-action .scroll-top, .full-width-blog .read-more, .full-width-blog .view-all{
	background:#339999;
	border:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position:relative;
	right:-5px;
	width:180px;
	font-size:19px;
	margin:0px;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:700;
	color:#fff;
	padding:20px 30px;
	display:block;
	margin:30px auto 0px;
	text-decoration:none;
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	background-color: #339999;
  	*background-color: #33cc99;
  	background-image: -moz-linear-gradient(top, #62c462, #33cc99);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#33cc99));
  	background-image: -webkit-linear-gradient(top, #62c462, #33cc99);
  	background-image: -o-linear-gradient(top, #62c462, #33cc99);
  	background-image: linear-gradient(to bottom, #62c462, #33cc99);
  	background-repeat: repeat-x;
}
.call-to-action .scroll-top:hover, .full-width-blog .read-more:hover, .full-width-blog .view-all:hover{
	background:#33cc99;
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
}
.call-to-action .scroll-top i{
	position:relative;
	top:2px;
}



/* footer */

.shield {
	width:100%;
	display:block;
	background:url(../images/bg-tab-wheel.png) no-repeat bottom center;
	height:104px;
	color:#fff;
	font-family:"Source Sans Pro", sans-serif;
	text-align:center;
	text-decoration:none;
	font-weight:700;
	font-size:19px;
	padding-top:10px;
}


/* footer */

.footer{
	background:#FFF;
	padding:50px 0px;
	color:#999;
	font-size:13px;
	overflow:auto;
}
.footer .copyright{
	float:left;
}
.footer .policies{
	float:right;
	margin-top:10px;
	font-size:11px;
}
.footer .container{
	margin:0px auto;
	position:relative;
}
.footer p{
	margin-top:10px;
	line-height:24px;
}
.footer a{
	color:#40b6cb;
}
.footer a:hover{
	color:#4bc1d2;
}
.footer .social-policies{
	float:right;
	width:200px;
	padding:35px;
}
.footer .links{
	list-style:none;
	margin:0px;
	padding:0px;
	float:right;
}
.footer .links li{
	float:right;
	margin-left:10px;
}
.footer .links li a{
	background:url(../images/sprite-social.png) no-repeat;
	width:32px;
	height:32px;
	display:block;
	text-indent:-9999px;
}
.footer .links li.blog a{
	background-position:-32px 0px;
}
.footer .links li.facebook a{
	background-position:-64px 0px;
}
.footer .links li.twitter a{
	background-position:-96px 0px;
}
.footer .links li.contact a:hover{
	background-position:0px -32px;
}
.footer .links li.blog a:hover{
	background-position:-32px -32px;
}
.footer .links li.facebook a:hover{
	background-position:-64px -32px;
}
.footer .links li.twitter a:hover{
	background-position:-96px -32px;
}

.shield .shield-icon{
	width:84px;
	height:84px;
	margin:0px auto;
	background:url(../images/WattTimeWhiteShield.png) no-repeat;
	position:relative;
}

.shield-icon:hover{

}


/* 404 page */
.wrap-404{
	background:url(../images/bg-404.gif);
}
.wrap-404 .uh-oh{
	text-align:center;
	width:100%;
	margin:0px auto;
	height:340px;
	position:absolute;
	top:50%;
	margin-top:-170px;
	left:0;
}
.uh-oh h2 span{
	padding:0px 30px;
	background:url(../images/bg-404.gif);
}
.uh-oh img{
	margin-bottom:30px;
}
.uh-oh .take-me-home{
	background:#fff;
	border:none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	right:-5px;
	width:180px;
	font-size:19px;
	margin:0px;
	font-family:"Source Sans Pro", sans-serif;
	font-weight:700;
	color:#339999;
	padding:20px 30px;
	display:block;
	margin:30px auto 0px;
	text-decoration:none;
	text-transform:uppercase;
	margin-top:50px;
}


@media (min-width: 1200px) {
	.feature-image-1{
		position:relative;
		top:-40px;
	}
	.feature-image-2{
		position:relative;
		top:-60px;
	}
	.feature-image-3{
		position:relative;
		top:-60px;
	}
	.full-width-blog .more-posts-wrap{
		width:328px;
	}
	 #commentform textarea{
		width:730px;
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1199px) {
	.feature-image-1{
		position:relative;
		top:-30px;
	}
	.feature-image-2{
		position:relative;
		top:-40px;
	}
	.feature-image-3{
		position:relative;
		top:-40px;
	}
	.contact-form input[type="text"], .contact-form input[type="email"], .tshirt-form input[type="text"]{
		width:180px;
	}
	.contact-form textarea{
		width:900px;
	}
	.full-width-blog .more-posts-wrap{
		width:258px;
	}
	 #commentform textarea{
		width:580px;
	}
	.sign-up-form-fixed input[type="email"]{
		width:155px;
	}
	.lock-header h4 {
		font-size:19px;
	}
	.header-main{
		clear: left;
	    margin-top: 60px;
	    padding-bottom: 40px;
	    text-align: center;
	}
	.faq-content img{
		width:612px;
	}

} 

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.contact-form input[type="text"], .contact-form input[type="email"], .tshirt-form input[type="text"]{
		width:126px;
	}
	.contact-form textarea{
		width:684px;
	}
	.full-width-blog .more-posts-wrap{
		width:186px;
	}
	 #commentform textarea{
		width:436px;
	}

	.lock-header h4 {
		font-size:19px;
	}

	.lock-header h4{
		font-size:24px;
	}
	.lock-header h4 span{
		display:none;
	}
	.header-main{
		clear: left;
	    margin-top: 60px;
	    padding-bottom: 40px;
	    text-align: center;
	}
	.reasons-wrap h2{
		font-size:31px;
	}
	.reasons-wrap p {
		font-size:16px;
	}
	.faq-content img{
		width:468px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 766px) { 
	body{
		padding:0px!important;
		margin:0px;
	}
	.page-container, .full-width-features, .home-container{
		padding:20px;
		padding-bottom:50px;
		height:auto;
	}
	.full-width-features{
		text-align:center;
	}
	.logo-link{
		margin:0px auto;
		display:block;
		width:100%;
		text-align:center!important;
		padding:0px!important;
		margin-bottom:40px;
	}
	.logo-link img{
		position:static!important;
	}
	.header-main h1, .call-to-action h1, .header-main-phone h1{
		font-size:41px;
	}
	.header-main h2, .call-to-action h2, .header-main-phone h2{ 
		font-size:28px;
		background:none;
	}
	.span6 img{
		margin:20px auto 0px;
	}
	.full-width-features h3{
		margin-bottom:20px;
		margin-top:50px;
	}
	
	.footer{
		text-align:center;
	}
	.footer .links{
		position:static;
		float:none;
		margin-top:30px;
	}
	.footer .links li{
		width:25%;
		text-align:center;
		margin:0px;
	}
	.footer .links li a{
		margin:0px auto;
	}
	
	.full-width-blog .more-posts-wrap{
		-moz-box-shadow: 0 0 0px #ddd;
		-webkit-box-shadow: 0 0 0px#ddd;
		box-shadow: 0 0 0px #ddd;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	
	.wrap-404 .uh-oh h1{
		font-size:40px;
	}
	.uh-oh h2{
		font-size:24px;
		background:none;
	}
	.uh-oh h2 span{
	}
	.uh-oh img{
		margin-bottom:30px;
	}
	.uh-oh .take-me-home{
		width:80%;
		padding:15px 0px;
		text-align:center;
		font-size:19px;

	}
	.header-main label.error, .header-main-phone label-error{
		display:none!important;
	}
	.header-main .watermark_container, .header-main-phone .watermark_container{
		width:100%;
	}
	.header-main .watermark_container .watermark, .header-main-phone .watermark_container .watermark{
		left:50%!important;
		margin-left:-80px;
		top:-64px!important;
	}
	#searchform input[type="text"]{
		position:absolute;
		left:50%;
		margin-left:-100px;
		top:100px;
	}
	.logo-link span{
		position:relative;
		top:-15px;
		margin-left:10px;
		margin-bottom:100px;
	}
	
	.search-results{
		background:none!important;
	}
	#searchform .watermark_container{
		display: inline-block;
	    left: 50%;
	    margin-left: -100px;
	    position: absolute!important;
	    top:100px;
	    width: 200px;
	}
	#searchform .watermark_container .watermark{
		margin-left: 10px;
	    margin-top: 22px;
		top:0px;
		left:0px!important;
	}
	.latest-post{
		padding:20px;
	}
	.full-width-features h3 {
		margin-top:10px;
	}
	.full-width-features p{
		margin-bottom:50px;
	}
	.feature-1, .feature-2, .feature-3{
		padding-bottom:70px!important;
	}
	.feature-1 .container, .feature-2 .container, .feature-3 .container{
		padding:20px;
	}

	.header-main{
		clear: left;
	    margin-top: 60px;
	    padding-bottom: 40px;
	    text-align: center;
	}
	
	.top-nav .nav{
		width:100%;
	}
	.nav-home{
		margin-bottom:30px!important;
	}
	.twitter-follow-button{
		display: none;
	}
	.footer .copyright{
		float: none;
	}
	.footer .social-policies{
		float:none;
		padding-left:80px;
	}
 }

/* Video embed */
 .embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


