body,
button {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  background: #efe;
  text-align: center;
  margin: 0px;
}

button {
  color: #fff;
  font-weight: 700;
  border: 1px solid #060;
  border-top: 1px solid 0c0;
  border-left: 1px solid 0c0;
  background: #090;
  border-radius: 4px;
  -webkit-transition: .15s;
  transition: .15s;
}

button:hover {
  -webkit-text-shadow: rgba(0, 0, 0, 0.298039) -1px -1px 0px;
  text-shadow: rgba(0, 0, 0, 0.298039) -1px -1px 0px;
  background: #0a0;
}

button:active {
  background: #090;
}

#location {
  background: #666;
  margin-bottom: 30px;
  font-size: 18px;
  color: #ccc;
  padding: 5px;
  box-shadow: 0px 1px 10px 1px #888;
}

#mix {
  position: relative;
  margin: 40px 10%;
  text-transform: uppercase;
}

#mixnumber {
  font-size: 500%;
  position: relative;
  font-weight: 700;
  margin: -20px 0;
  color: #eee;
}

#quickcast {
  color: #0a0;
  font-weight: 700;
}

#forecast {
  position: absolute;
  top: 50px;
  height: 225px;
}

#action {
  top: 350px;
}

#waitbtn {
  font-size: 36px;
}

#intent {
  text-align: left;
  padding: 15px 25px;
  line-height: 150%;
}

#intent input {
  vertical-align: middle;
  margin-right: 10px;
}

.expandedpane #intent {
  display: block !important;
}

#thanks {
  font-size: 30px;
  padding: 15px;
  top: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#thanks strong {
  font-weight: 700;
  font-size: 36px;
  color: #090;
  white-space: nowrap;
}

#donebtn {
  margin-top: 15px;
}

#footer {
  background: #666;
  position: absolute;
  bottom: 0px;
  font-size: 18px;
  color: #ccc;
  padding: 5px;
  box-shadow: 0px -1px 10px 1px #888888;
  width: 100%;
}

.pane {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #fff;
  box-shadow: 0px -1px 10px 1px #888888;
  padding-top: 10px;
  -webkit-transition: .25s;
  transition: .25s;
  
}

.expandedpane {
  top: 40px !important;
}