
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

{% load staticfiles %}

<head>

<meta name="viewport" content="width=device-width, initial-scale = 1.0; maximum-scale=1.0, user-scalable=no" />

<META NAME="Description" CONTENT="WattTime notifies you when your electricity consumption contributes to a cleaner energy economy.">

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<title>{% block title %}WattTime{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% static "css/style2.css" %}" />

<link rel="stylesheet" type="text/css" href="{% static "css/stately.css" %}" />

<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,700,900' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />

<!--[if lt IE 9]>

	<link rel="stylesheet" type="text/css" href="{% static "css/ie8.css" %}" />

<![endif]-->

<!--[if lt IE 98>

	<link rel="stylesheet" type="text/css" href="{% static "css/ie7.css" %} " />

<![endif]-->

<link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %} " />

<script src="{% static "js/jquery-1.8.2.min.js" %} "></script>

<script src="{% static "js/jquery.easing.1.3.js" %} "></script>

<script src="{% static "js/jquery.simplemodal.1.4.3.min.js" %} "></script>

<script src="{% static "js/masonry.min.js" %} "></script>

<script src="{% static "js/jquery.watermark.min.js" %} "></script>

<script src="{% static "js/waypoints.min.js" %} "></script>

<script src="{% static "js/jquery.parallax-1.1.3.js" %} "></script>

<script src="{% static "js/respond.min.js" %} "></script>


</head>

<body name="top">




<div class="page-wrapper">

	<div class="agency-wrap">

		<div class="container page-container home-container">

			<div class="row">

				<div class="span12">

					<div class="top-nav">

						<a href="{% url 'home' %}" class="logo-link">

							<img src="{% static "images/WattTimeWhiteWordLogo.png" %}" width="200" alt="WattTime">

						</a>

						<ul class="nav nav-home">

<!--							<li>

						  		<a href="{% url 'home' %}">HOME</a>

							</li>-->
							
							<li>
							<a href="{% url 'status' %}">STATUS</a>
							</li>

							<li>

								<a href="{% url 'how-it-works' %}">HOW IT WORKS</a>

							</li>
							


							<li>


								<a href="{% url 'about-us' %}">ABOUT US</a>

							</li>

							<li>


								<a href="{% url 'faq' %}">FAQ</a>

							</li>
							
							<li>

								<a href="{% url 'contact' %}">CONTACT</a>

							</li>


						</ul>
						
						<div class="header-main">
						{% block content %}
		  				{% endblock %}
		  				</div>
		  
				</div>
	
			</div>

		</div>

		<div class="row">
		<div class="span3">
		  

		  
		</div>
		
		</div>
		</div>
		
	<div class="wheel">
	  
	  	<img src="{% static "images/WattTimeWhiteShield.png" %} " alt="WattTime" width="75" class="">

	  
	</div>
		
<div class="footer" name="contact">

	<div class="container">

		<div class="copyright">

			<a href="{% url 'home' %}" class="logo">

				<img src="{% static "images/WattTimeWordLogo.png" %}" alt="WattTime" width="120">

			</a>

			<p>

				Made by the team at <a href="{% url 'home' %}">WattTime</a>. Copyright 2013. <a href="{% url 'terms-of-service' %}">Terms of Service</a><br> 

				Built in Berkeley, California with composted parts from around the world.

			</p>

		</div>

		<div class="social-policies">

			<ul class="links">

					<li class="contact">

					<a href="mailto:watttime.app@gmail.com" class="">Contact</a>

				</li>

				<!-- <li class="blog">

					<a href="http://watttime.com/blog">Blog</a>

				</li> -->


				<li class="facebook">

					<a href="https://www.facebook.com/watt.time">Facebook</a>

				</li>

				<li class="twitter">

					<a href="https://twitter.com/watttime">Twitter</a>

				</li>

			</ul>

			<!--

			<div class="policies">

				<a href="http://watttime.com/privacy-policy">Privacy Policy</a> &bull; <a href="#">Terms of Use</a>

			</div>

			-->

		</div>

	</div>

</div>

</div>


</body>

</html>
