
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns:fb="http://ogp.me/ns/fb#">

{% load staticfiles %}
{% load url from future %}
<!-- The following is used for Facebook Connect
{ % load socialaccount % }
{ % providers_media_js % }  [endif]-->

<head>

{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
  {% include "base_snippets/google_analytics.html" %}
{% endif %}

<title>{% block title %}WattTime{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

<META NAME="Description" CONTENT="WattTime creates tools that empower you to lower your carbon footprint by shifting when you use energy to times when the grid is green.">

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<!-- links to stylesheets and scripts for making things pretty and functional-->
{% block headlinks %}{% include "base_snippets/head_links.html" %}{% endblock %}
{% block headscripts %}{% include "base_snippets/head_scripts.html" %}{% endblock %}

<!-- non-splash-page background color -->
<style> body {
background: #99DFF9;
} 


</style> 

</head>

{% block body %}
<body>
  <div class="container">      
    {% include "base_snippets/navbar.html" %}
						
    
	{% block content %}
	{% endblock %}
  </div>
		  
    {% include "base_snippets/footer.html" %}				
		
</body>
{% endblock %}

</html>
