
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

{% load staticfiles %}

<head>

<meta name="viewport" content="width=device-width, initial-scale = 1.0; maximum-scale=1.0, user-scalable=no" />

<META NAME="Description" CONTENT="WattTime notifies you when your electricity consumption contributes to a cleaner energy economy.">

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<title>WattTime Tells You When The Electricity Grid is Clean.</title>

<link rel="stylesheet" type="text/css" href="{% static "css/style2.css" %}" />

<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />

<link rel="stylesheet" type="text/css" href="{% static "css/stately.css" %}" />

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,700,900' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />

<!--[if lt IE 9]>

	<link rel="stylesheet" type="text/css" href="{% static "css/ie8.css" %}" />

<![endif]-->

<!--[if lt IE 98>

	<link rel="stylesheet" type="text/css" href="{% static "css/ie7.css" %} " />

<![endif]-->

<link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %} " />

<script src="{% static "js/jquery-1.8.2.min.js" %} "></script>

<script src="{% static "js/jquery.easing.1.3.js" %} "></script>

<script src="{% static "js/jquery.validate.js" %} "></script>

<script src="{% static "js/jquery.simplemodal.1.4.3.min.js" %} "></script>

<script src="{% static "js/gaparse.js" %} "></script>

<script src="{% static "js/masonry.min.js" %} "></script>

<script src="{% static "js/jquery.watermark.min.js" %} "></script>

<script src="{% static "js/waypoints.min.js" %} "></script>

<script src="{% static "js/jquery.parallax-1.1.3.js" %} "></script>

<script src="{% static "js/flywheel.js" %} "></script>

<script src="{% static "js/respond.min.js" %} "></script>


</head>

<body name="top">




<div class="page-wrapper">

	<div class="agency-wrap">

		<div class="container page-container home-container">

			<div class="row">

				<div class="span12">

					<div class="top-nav">

						<a href="http://WattTime.com" class="logo-link">

							<img src="images/WattTimeWhiteWordLogo.png" width="200" alt="WattTime">

						</a>

						<ul class="nav nav-home">

							<li>

								<a href="#contact" class="contact-link">CONTACT</a>

							</li>

							<li>

								<a href="http://watttime.com/blog">BLOG</a>

							</li>

							<!--

							<li>

								<a href="http://watttime.com/questions">FAQ</a>

							</li>

						-->

							<li>

								<a href="http://app.watttime.com">LOGIN</a>

							</li>

						</ul>

					

					<div class="header-main hidden-phone">

						<h1>It's <span style="color:#66cc99">2:37 p.m.</span> and <br> Your Electricity Grid is <span style="color:#ffff33">27%</span> Green.</h1>

						<h2>We Can Do Better</h2>

						<p>WattTime notifies you when your electricity consumption creates a cleaner energy economy. <br class="hidden-phone">Using occasional and timely text messages, WattTime helps you make an impact on your own terms.</p>
						<h4>It's simple and easy. Just fill out this form* and we do the rest!</h4>
						    		
					  {% include 'accounts/signup_splash.html' %}
					  
    					<!--	<form action="" method="post" id="subForm" class="flywheel-form sign-up-form" style="margin-bottom:0px!important;">

							<input type="email" name="cm-ttkkn-ttkkn" id="ttkkn-ttkkn" class="phone required" value="" title="Your area code and phone number"/>

							<input type="hidden" name="cm-f-ajdkt" id="Campaign" />

							<input type="hidden" name="cm-f-ajdki" id="Source" />

							<input type="hidden" name="cm-f-ajdkd" id="Medium" />

							<input type="hidden" name="cm-f-ajdkh" id="Keywords" />

							<input type="submit" value="YES, PLEASE!">

							
						</form> -->
						 
	<!--	stately map for indicating launch locations
	    <ul class="stately" id="launch"> 
        <li data-state="al" class="al">A</li>
        <li data-state="ak" class="ak">B</li>
        <li data-state="ar" class="ar">C</li>						
        <li data-state="az" class="az">D</li>
        <li data-state="ca" class="ca">E</li>
        <li data-state="co" class="co">F</li>
        <li data-state="ct" class="ct">G</li>
        <li data-state="de" class="de">H</li>
        <li data-state="dc" class="dc">I</li>
        <li data-state="fl" class="fl">J</li>
        <li data-state="ga" class="ga">K</li>
        <li data-state="hi" class="hi">L</li>
        <li data-state="id" class="id">M</li>
        <li data-state="il" class="il">N</li>
        <li data-state="in" class="in">O</li>
        <li data-state="ia" class="ia">P</li>
        <li data-state="ks" class="ks">Q</li>
        <li data-state="ky" class="ky">R</li>
        <li data-state="la" class="la">S</li>
        <li data-state="me" class="me">T</li>
        <li data-state="md" class="md">U</li>
        <li data-state="ma" class="ma">V</li>
        <li data-state="mi" class="mi">W</li>
        <li data-state="mn" class="mn">X</li>
        <li data-state="ms" class="ms">Y</li>
        <li data-state="mo" class="mo">Z</li>
        <li data-state="mt" class="mt">a</li>
        <li data-state="ne" class="ne">b</li>
        <li data-state="nv" class="nv">c</li>
        <li data-state="nh" class="nh">d</li>
        <li data-state="nj" class="nj">e</li>
        <li data-state="nm" class="nm">f</li>
        <li data-state="ny" class="ny">g</li>
        <li data-state="nc" class="nc">h</li>
        <li data-state="nd" class="nd">i</li>
        <li data-state="oh" class="oh">j</li>			
        <li data-state="ok" class="ok">k</li>
        <li data-state="or" class="or">l</li>
        <li data-state="pa" class="pa">m</li>
        <li data-state="ri" class="ri">n</li>
        <li data-state="sc" class="sc">o</li>
        <li data-state="sd" class="sd">p</li>
        <li data-state="tn" class="tn">q</li>
        <li data-state="tx" class="tx">r</li>
        <li data-state="ut" class="ut">s</li>
        <li data-state="va" class="va">t</li>
        <li data-state="vt" class="vt">u</li>			
        <li data-state="wa" class="wa">v</li>
        <li data-state="wv" class="wv">w</li>
        <li data-state="wi" class="wi">x</li>
        <li data-state="wy" class="wy">y</li>
    </ul> -->

					<p style="font-size:small">*We are currently piloting Watt Time for electricity consumers in Massachusetts, Connecticut, New Hampshire, Vermont, Rhode Island, Maine.<br> If you fill out the form, we'll let you know when WattTime is available for your region!</p>
		  
		 
	
					</div>


					<div class="header-main-phone visible-phone">

						<h1>It's <span style="color:#339999">2:37 p.m.</span> and <br> Your Electricity Grid is <span style="color:#339999">27%</span> Green.</h1>

						<h2>We Can Do Better</h2>

						<p>WattTime notifies you when your electricity consumption creates a cleaner energy economy. <br>Using occasional and timely text messages, WattTime helps you make an impact on your own terms.</p>
						<h4>Please fill out your information if you would like to be notified when we launch in your region*.</h4>
						    		

						<form action="" method="post" id="subForm" class="flywheel-form sign-up-form" style="margin-bottom:0px!important;">

							<input type="email" name="cm-ttkkn-ttkkn" id="ttkkn-ttkkn" class="email required" value="" title="Your email address"/>

							<input type="hidden" name="cm-f-ajdkt" id="Campaign" />

							<input type="hidden" name="cm-f-ajdki" id="Source" />

							<input type="hidden" name="cm-f-ajdkd" id="Medium" />

							<input type="hidden" name="cm-f-ajdkh" id="Keywords" />

							<input type="submit" value="YES, PLEASE!">

							
						</form>
					</div>
		

				</div>

			</div>
			
		</div>

		

	</div>

	<a href="#feature-set" class="down-tab hidden-phone" name="feature-set">

		TELL ME MORE! <i class="arrow arrow-down">&nbsp;</i>

	</a>

	<div class="full-width-features feature-1">

		<div class="container">

			<div class="row">

				<div class="span12">

					<img src="{% static "images/WattTimeShieldBW.png" %} " class="fly-wheel" width="120">

					<h1>WattTime is Built for You</h1>

					<h2>WattTime is designed to support and enhance your livelihood <br class="hidden-phone"> while fostering smart energy use. It’s more than just a message. It's a movement.</h2>

				</div>

			</div>

			<div class="row">

				<div class="span12">

					<h4 class="icon-line"><span><img src="{% static "images/WattTimeShield_sm.png" %}" width="50"></span></h4>

				</div>

				<div class="span3">

					<i class="icon-features-mini icon-medal"></i>

					<h3>Empowering</h3>

					<p>You get choices you've never had before and the freedom to maintain control over your energy needs. Find out what works for you.</p>

				</div>

				<div class="span3">

					<i class="icon-features-mini icon-demo"></i>

					<h3>Easy and relevant</h3>

					<p>WattTime is easy to use. Getting started is a cinch, and timely messages ensure that you get relevant information.</p>

				</div>

				<div class="span3">

					<i class="icon-features-mini icon-income"></i>

					<h3>Big impact</h3>

					<p>By shifting your tasks–even just a little–your energy consumption can have a big impact. WattTime helps you direct that impact where it's most needed.</p>

				</div>

				<div class="span3">

					<img src="images/icon-sunflowerBW.png" width="38" >

					<h3>A resilient future</h3>

					<p>Join others and create the clean energy economy. Help build a more resilient future, and use collective action to power the world.</p>

				</div>

			</div>

		</div>

	</div>

	
	
	<div class="full-width-features feature-2">

		<div class="container">

			<div class="row">

				<div class="span12">

					<h1>Getting Started is Easy</h1>

					<h2>WattTime lets you know when the electricity you consume is coming from renewable sources. <br class="hidden-phone">You decide when and what kind of energy you want to use.</h2>

				</div>

			</div>

			<div class="row">

				<div class="span12">

					<h4 class="icon-line"><span><img src="images/WattTimeShield_sm.png" width="50"></span></h4>

				</div>

				<div class="span3">

					<h1>Step 1</h1>

					<h3>Sign up is simple</h3>

					<p>All we need is your phone number to get you started. We'll keep you updated about new features and regions if you include your name and email too.</p>
					
				</div>

				<div class="span3">

					<h1>Step 2</h2>

					<h3>Verify your device</h3>

					<p>Just follow the instructions so we can send notifications directly to your device.</p>

				</div>

				<div class="span3">

					<h1>Step 3</h2>

					<h3>Get more relevant notifications</h3>

					<p>Context matters. With just a few questions about the kind of energy you use in your home or at work, we can make the notifications more relevant for you.</p>

				</div>

				<div class="span3">

					<h1>Step 4</h2>

					<h3>Trigger a cleaner energy economy</h3>

					<p>When you receive a text, join others and create the clean energy economy by shifting your consumption patterns to cleaner fuel sources.</p>

				</div>

			</div>

		</div>

	</div>




	<div class="container call-to-action">

		<h1>WE'RE <br class="visible-phone"> FLIPPING THE SWITCH <br class="visible-phone"> SOON</h1>

		<h2>Join WattTime</h2>

		<a href="#top" class="scroll-top">

			YES, PLEASE! <i class="arrow arrow-up">&nbsp;</i>

		</a>

	</div>

	<div class="wheel">

		<img src="{% static "images/WattTimeWhiteShield.png" %} " alt="WattTime" width="75" class="">

	</div>

		

<div class="footer" name="contact">

<!--	<div class="container contact-form">

		<div class="row">

			<div class="span12">

				<h3>Comments? Questions? Get in Touch!</h3>

			</div>

			<form action="" method="post" class="">

				<div class="span3">

					<input type="text" name="namefield"  title="Name" class="required" id="name-field">

				</div>	

				<div class="span3">

					<input type="email" name="emailfield" title="Email" class="email required" id="email-field">

				</div>

				<div class="span3">

					<input type="text" name="phonefield" title="Phone" id="phone-field">

				</div>

				<div class="span3">

					<input type="text" name="companyfield" title="Company" id="company-field">

				</div>

				<div class="span12  comments-textarea">

					<textarea name="commentsfield" title="Your thoughts" id="comments-field"></textarea>

				</div>

				<div class="span4 offset4">

					<input type="hidden" name="" id="Campaign2"  />

					<input type="hidden" name="" id="Source2" />

					<input type="hidden" name="" id="Medium2"  />

					<input type="hidden" name="" id="Keywords2"/>

					<input type="hidden" name="say" value="hello">

					<input type="submit" value="SAY HELLO!">

				</div>

			</form>

		</div>

	</div> -->

	<div class="container">

		<div class="copyright">

			<a href="http://watttime.com" class="logo">

				<img src="{% static "images/WattTimeWordLogo.png" %} " alt="WattTime" width="120">

			</a>

			<p>

				Made by the team at <a href="http://watttime.com">WattTime</a>. Copyright 2013. <a href="http://watttime.com/terms-of-service">Terms of Service</a><br> 

				Built in Berkeley, California with composted parts from around the world.

			</p>

		</div>

		<div class="social-policies">

			<ul class="links">

				<li class="contact">

					<a href="#" class="contact-link">Contact</a>

				</li>

				<li class="blog">

					<a href="http://watttime.com/blog">Blog</a>

				</li>

				<li class="facebook">

					<a href="https://www.facebook.com/wattTimeApp">Facebook</a>

				</li>

				<li class="twitter">

					<a href="https://twitter.com/watttime">Twitter</a>

				</li>

			</ul>

			<!--

			<div class="policies">

				<a href="http://watttime.com/privacy-policy">Privacy Policy</a> &bull; <a href="#">Terms of Use</a>

			</div>

			-->

		</div>

	</div>

</div>

</div>


</body>

</html>