<div class="panel panel-default">
    <div class="panel-body">
        <h2>Learn more:
            <a class="btn btn-primary" href="{% url 'zinnia_entry_archive_index' %}"><span class="glyphicon glyphicon-th-list green"></span>&nbsp; <strong>BLOG</strong></a>
            <a class="btn btn-primary" href="{% url 'partner' %}"><span class="glyphicon glyphicon-transfer green"></span>&nbsp; <strong>PARTNER</strong></a>
            <a class="btn btn-primary" href="{% url 'about-us' %}"><span class="nb_icons nbabout pull-left"></span>&nbsp; <strong>ABOUT US</strong></a>
            <a class="btn btn-primary" href="{% url 'contact' %}"><span class="glyphicon glyphicon-envelope green"></span>&nbsp; <strong>CONTACT</strong></a>
        </h2>
    </div>
</div>

