<div class="panel panel-default">
    <div class="panel-body">
        <h2>WattTime Tools:
            <button type="button" class="btn btn-default"><a href="{% url 'shift' %}"><span class="nb_icons nbshift pull-left"></span>&nbsp; <strong>SHIFT</strong></a></button>
            <button type="button" class="btn btn-default"><a href="{% url 'status' %}"><span class="nb_icons nbexplorer pull-left"></span>&nbsp; <strong>EXPLORER</strong></a></button>      
            <button type="button" class="btn btn-default"><a href="{% url 'alerts_home' %}"><span class="nb_icons nbalerter pull-left"></span>&nbsp; <strong>ALERTS</strong></a></button>
            <button type="button" class="btn btn-default"><a href="{% url 'profile_settings' %}"><i class="glyphicon glyphicon-cog green"></i>&nbsp; <strong>PROFILE</strong></a></button>
        </h2>
    </div>
</div>

