<div class="panel panel-default">
    <div class="panel-body">
        <h2>Learn more:
            <a class="btn btn-primary" href="{% url 'how-it-works' %}"><span class="nb_icons nbhiw pull-left"></span>&nbsp; <strong>HOW IT WORKS</strong></a>
            <a class="btn btn-primary" href="{% url 'why-it-works' %}"><span class="nb_icons nbwiw pull-left"></span>&nbsp; <strong>WHY IT WORKS</strong></a>
            <a class="btn btn-primary" href="{% url 'about-us' %}"><span class="nb_icons nbabout pull-left"></span>&nbsp; <strong>ABOUT US</strong></a>
            <a class="btn btn-primary" href="{% url 'contact' %}"><i class="glyphicon glyphicon-envelope green"></i>&nbsp; <strong>CONTACT</strong></a>
        </h2>
    </div>
</div>

