{% load staticfiles %}

	<div class="shield">
	  
	  	<img src="{% static "images/WattTimeWhiteShield.png" %} " alt="WattTime" width="75" class="">

	  
	</div>
		
<div class="footer" name="contact">

	<div class="container">

		<div class="copyright">

			<a href="{% url 'home' %}" class="logo">

				<img src="{% static "images/WattTimeWordLogo.png" %}" alt="WattTime" width="120">

			</a>

			<p>

				Made by the team at <a href="{% url 'home' %}">WattTime</a>. Copyright 2013. <a href="{% url 'terms-of-service' %}">Terms of Service</a><br> 

				Built in Berkeley, California with composted parts from around the world.

			</p>

		</div>

		<div class="social-policies">

			<ul class="links">

					<li class="contact">

					<a href="mailto:watttime.app@gmail.com" class="">Contact</a>

				</li>

				<!-- <li class="blog">

					<a href="//watttime.com/blog">Blog</a>

				</li> -->


				<li class="facebook">

					<a href="//www.facebook.com/wattTimeApp">Facebook</a>

				</li>

				<li class="twitter">

					<a href="//twitter.com/watttime">Twitter</a>

				</li>

			</ul>

			<!--

			<div class="policies">

				<a href="//watttime.com/privacy-policy">Privacy Policy</a> &bull; <a href="#">Terms of Use</a>

			</div>

			-->

		</div>

	</div>

</div>

</div>

