{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />

<!-- Latest compiled and minified Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">


<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap_override.css" %}" />


<!-- Le fav and touch icons 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
-->
<link rel="shortcut icon" type="image/x-icon" href="{% static "favicon.ico" %} " />



<!-- font links here -->

<!-- <link rel="stylesheet" type="text/css" href="{% static "css/stately.css" %}" /> -->

<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,700,900' rel='stylesheet' type='text/css'>

<link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


<!--[if lt IE 9]>

	<link rel="stylesheet" type="text/css" href="{% static "css/ie8.css" %}" />

<![endif]-->

<!--[if lt IE 98>

	<link rel="stylesheet" type="text/css" href="{% static "css/ie7.css" %} " />

<![endif]-->

