{% load staticfiles %}
   <div class="navbar navbar-inverse">
    <div class="navbar-inner">
     <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-large btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
          <a class="brand" href="{% url 'home' %}">
			<img src="{% static "images/WattTimeWhiteWordLogo.png" %}" width="200" alt="WattTime">
			</a>
          <div class="nav-collapse collapse">
            <ul class="nav nav-pills pull-right">
            
            <li class="dropdown">
                <a class="dropdown-toggle" id="drop3" role="button" data-toggle="dropdown" href="#">TOOLS <i class="icon-wrench icon-white"></i> <b class="caret"></b></a>
      			<ul class="dropdown-menu" id="menu3" role="menu" aria-labelledby="drop3">	
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'status' %}"><i class="icon-signal"></i> STATUS</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'shift' %}"><i class="icon-time"></i> SHIFT</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'alerts_home' %}"><i class="icon-bell"></i> ALERTS</a></li>
				</ul>
              </li>
              
            <li class="dropdown">
                <a class="dropdown-toggle" id="drop3" role="button" data-toggle="dropdown" href="#">TACTICS <i class="icon-wrench icon-white"></i> <b class="caret"></b></a>
      			<ul class="dropdown-menu" id="menu3" role="menu" aria-labelledby="drop3">	
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'how-it-works' %}"><i class="icon-signal"></i> HOW IT WORKS</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'impact' %}"><i class="icon-time"></i> IMPACT</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'placeholder' %}"><i class="icon-bell"></i> BLOG</a></li>
				</ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" id="drop1" role="button" data-toggle="dropdown" href="#">TEAM <i class="icon-bullhorn icon-white"></i> <b class="caret"></b></a>
      			<ul class="dropdown-menu" id="menu1" role="menu" aria-labelledby="drop1">	
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'about-us' %}"><i class="icon-info-sign"></i> ABOUT US</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'join-us' %}"><i class="icon-book"></i> JOIN THE TEAM</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'contact' %}"><i class="icon-envelope"></i> CONTACT</a></li>
				</ul>
              </li>
              
              <li class="">
				<a href="{% url 'faq' %}">FAQ <i class="icon-question-sign icon-white"></i></a>
              </li>    
                     
              <li class="dropdown">
              {% if user.is_authenticated %}
               <a class="dropdown-toggle" id="drop2" role="button" data-toggle="dropdown" href="#">ACCOUNT <i class="icon-cog icon-white"></i> <b class="caret"></b></a>
      			<ul class="dropdown-menu" id="menu2" role="menu" aria-labelledby="drop2">	
      			<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'profile_view' %}"><i class="icon-user"></i> SETTINGS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'account_logout' %}"><i class="icon-off"></i> LOG OUT</a></li>
                </ul>
              {% else %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'authenticate' %}">LOG IN</a></li>
              {% endif %}
              
                      <!--       </ul></li>  -->
            </ul>
            
          </div>
        </div>
      </div>
    </div>				